{% extends 'main.html' %} {% load widget_tweaks %} {% block content %}

<div class="h-full text-black">
  <div class="bg-gray-100 flex items-center">
    <div class="max-w-3xl min-h-96 mx-auto py-16">
      <div class="p-10 bg-white border border-gray-200 rounded-xl shadow-sm">
        <div class="flex items-center justify-center flex-col gap-5">
          <h1 class="text-2xl font-bold">이메일을 인증하세요</h1>
          <p class="leading-loose font-normal text-gray-700">
            가입시 입력한 주소로 인증을 위한 이메일을 보냈습니다. 가입 절차를
            완료하려면 이메일에 포함된 링크를 클릭 해주세요. 받은편지함에서
            인증 이메일을 찾을 수 없다면 스팸 폴더를 확인해 보시기 바랍니다. 몇
            분 이내에 인증 이메일을 받지 못하셨다면 전화문의(063-285-7255) 바랍니다.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
