{% extends 'main.html' %}

{% block content %}
<main class="site-body">
  <div>{{msr.name}}</div>
  <div>{{msr.year}}</div>
  <div>{{msr.month}}</div>
  <div>{{msr.day}}</div>
  <div>{{msr.time}}</div>
  <div>{{msr.gen}}</div>
  <div>{{msr.sl}}</div>
  <div>{{msr.yd}}</div>
  <div>양력 년{{datas.s_year}}</div>
  <div>음력 년{{datas.l_year}}</div>
  <div>양력 월{{datas.s_month}}</div>
  <div>음력 월{{datas.l_month}}</div>
  <div>양력 일{{datas.s_day}}</div>
  <div>음력 일{{datas.l_day}}</div>
  <div>일간{{datas.day_gan_kr}}</div>
  <div>일간{{datas.day_gan_ch}}</div>
  <div>시지{{datas.time_ji_ch}}</div>
  <div>{{datas.gender}}</div>
  <div>{{datas.daewoon}}</div>
  <div>{{datas.daewoon_num}}</div>
</main>
{% endblock content %}