{% extends 'main.html' %} 

{% block content %}

{% load static %}
<!-- Blog Article -->
<div class="max-w-[85rem] px-4 sm:px-6 lg:px-8 mx-auto text-black">
  <div class="grid lg:grid-cols-3 gap-y-8 lg:gap-y-0 lg:gap-x-6">
    <!-- Content -->
    <div class="lg:col-span-2">
      <div class="py-8 lg:pe-8">
        <div class="space-y-5 lg:space-y-8">
            <div class="flex rounded-md items-center justify-center h-28 bg-no-repeat bg-center bg-[url('{% static '/base/img/qna.jpg' %}')]">
                <div class="text-white rounded-lg px-4 py-2 text-base sm:text-xl bg-slate-400 bg-opacity-50">고객게시판</div>
            </div>
            <div class="flex items-center mt-2 text-sm lg:text-base font-semibold pl-3 py-1 border-b border-gray-200">
                <div class="mt-[2px] mr-3 h-4 border-l-4 border-amber-900/70"></div>
                <div>작명원소개 > 고객게시판</div>
            </div>

            <!-- FAQ -->
            <div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
              <!-- Title -->
              <div class="max-w-2xl mx-auto text-center mb-10 lg:mb-14">
                <h2 class="text-2xl font-bold md:text-4xl md:leading-tight">자주하는 질문</h2>
                <p class="mt-1 text-gray-600">자주묻는 질문들에 대한 답변을 모아놓았습니다.</p>
              </div>
              <!-- End Title -->

              <div class="max-w-2xl mx-auto">
                <!-- Accordion -->
                <div class="hs-accordion-group">
                  <div class="hs-accordion hs-accordion-active:bg-gray-100 rounded-xl p-6 dark:hs-accordion-active:bg-white/10 active" id="hs-basic-with-title-and-arrow-stretched-heading-one">
                    <button class="hs-accordion-toggle group pb-3 inline-flex items-center justify-between gap-x-3 w-full md:text-lg font-semibold text-start text-gray-800 rounded-lg transition hover:text-gray-500" aria-controls="hs-basic-with-title-and-arrow-stretched-collapse-one">
                      좋은 이름이란 무엇일까요?
                      <svg class="hs-accordion-active:hidden block flex-shrink-0 size-5 text-gray-600 group-hover:text-gray-500 dark:text-neutral-400" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m6 9 6 6 6-6"/></svg>
                      <svg class="hs-accordion-active:block hidden flex-shrink-0 size-5 text-gray-600 group-hover:text-gray-500 dark:text-neutral-400" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m18 15-6-6-6 6"/></svg>
                    </button>
                    <div id="hs-basic-with-title-and-arrow-stretched-collapse-one" class="hs-accordion-content w-full overflow-hidden transition-[height] duration-300" aria-labelledby="hs-basic-with-title-and-arrow-stretched-heading-one">
                      <p class="text-gray-800">
                        <b>1.사주에 맞는 이름</b> : 출생일과 시간을 고려하여 사주명리학에 따라 이름을 짓습니다.<br>
                        <b>2.긍정적인 뜻의 한자</b> : 이름에 사용된 한자는 긍정적인 의미를 가져야 합니다.<br>
                        <b>3.좋은 어감</b> : 이름은 거부감 없이 듣기 좋은 어감을 가져야 합니다.<br>
                        <b>4.발음이 편한 이름</b> : 쉽게 발음할 수 있고 부르기 편한 이름이어야 합니다.<br>
                        <b>5.놀림받지 않을 이름</b> : 놀림의 대상이 되지 않는 이름이어야 합니다.<br>
                        <b>6.성씨와 잘 어울리는 이름</b> : 성씨와 잘 조화를 이루는 이름을 선택해야 합니다.<br>
                        <b>7.이해하기 쉬운 한자 사용</b> : 남들이 알기 쉬운 한자로 이루어진 이름이 좋습니다.<br>
                      </p>
                    </div>
                  </div>

                  <div class="hs-accordion hs-accordion-active:bg-gray-100 rounded-xl p-6 dark:hs-accordion-active:bg-white/10" id="hs-basic-with-title-and-arrow-stretched-heading-two">
                    <button class="hs-accordion-toggle group pb-3 inline-flex items-center justify-between gap-x-3 w-full md:text-lg font-semibold text-start text-gray-800 rounded-lg transition hover:text-gray-500" aria-controls="hs-basic-with-title-and-arrow-stretched-collapse-two">
                      돌림자를 꼭 써야할까요?
                      <svg class="hs-accordion-active:hidden block flex-shrink-0 size-5 text-gray-600 group-hover:text-gray-500 dark:text-neutral-400" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m6 9 6 6 6-6"/></svg>
                      <svg class="hs-accordion-active:block hidden flex-shrink-0 size-5 text-gray-600 group-hover:text-gray-500 dark:text-neutral-400" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m18 15-6-6-6 6"/></svg>
                    </button>
                    <div id="hs-basic-with-title-and-arrow-stretched-collapse-two" class="hs-accordion-content hidden w-full overflow-hidden transition-[height] duration-300" aria-labelledby="hs-basic-with-title-and-arrow-stretched-heading-two">
                      <p class="text-gray-800">
                        요즘은 돌림자에 상관없이 좋은 이름을 짓는 경우가 늘어나고 있습니다.
                        돌림자에 얽매이게 되면 성명학, 명리학에 부합하지 않는 경우가 많아 좋은 이름이 나오기 어렵습니다.
                        돌림자 이름의 음(音)이 세련되거나 성명학적으로 완벽하지 않는 이상, 돌림자보다 좋은 다른 이름을 놔두고, 굳이 돌림자 이름을 사용할 필요는 없습니다.
                      </p>
                    </div>
                  </div>

                  <div class="hs-accordion hs-accordion-active:bg-gray-100 rounded-xl p-6 dark:hs-accordion-active:bg-white/10" id="hs-basic-with-title-and-arrow-stretched-heading-three">
                    <button class="hs-accordion-toggle group pb-3 inline-flex items-center justify-between gap-x-3 w-full md:text-lg font-semibold text-start text-gray-800 rounded-lg transition hover:text-gray-500" aria-controls="hs-basic-with-title-and-arrow-stretched-collapse-three">
                      이름에 나온 획수가 인터넷과 다른것같아요
                      <svg class="hs-accordion-active:hidden block flex-shrink-0 size-5 text-gray-600 group-hover:text-gray-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m6 9 6 6 6-6"/></svg>
                      <svg class="hs-accordion-active:block hidden flex-shrink-0 size-5 text-gray-600 group-hover:text-gray-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m18 15-6-6-6 6"/></svg>
                    </button>
                    <div id="hs-basic-with-title-and-arrow-stretched-collapse-three" class="hs-accordion-content hidden w-full overflow-hidden transition-[height] duration-300" aria-labelledby="hs-basic-with-title-and-arrow-stretched-heading-three">
                      <p class="text-gray-800">
                        한자의 획수는 필획과 원획으로 나뉩니다. 필획은 한자 사전에 등록된 획수를 의미하고, 원획은 작명 시 고려되는 획수로, 부수의 본래 형태 등을 고려해 결정됩니다.
                        작명 과정은 기본적으로 음양(陰陽), 오행(五行), 수리(數理), 사주(四柱) 등을 포함한 많은 요소를 고려합니다. 특히 오행에는 음오행, 자원오행, 삼원오행 등 여러 종류가 있고, 사주 분석 또한 전문 지식이 요구됩니다.
                      </p>
                    </div>
                  </div>

                  <div class="hs-accordion hs-accordion-active:bg-gray-100 rounded-xl p-6 dark:hs-accordion-active:bg-white/10" id="hs-basic-with-title-and-arrow-stretched-heading-four">
                    <button class="hs-accordion-toggle group pb-3 inline-flex items-center justify-between gap-x-3 w-full md:text-lg font-semibold text-start text-gray-800 rounded-lg transition hover:text-gray-500" aria-controls="hs-basic-with-title-and-arrow-stretched-collapse-four">
                      작명(개명) 서비스를 신청하면 이름은 몇 개 주시나요?
                      <svg class="hs-accordion-active:hidden block flex-shrink-0 size-5 text-gray-600 group-hover:text-gray-500 dark:text-neutral-400" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m6 9 6 6 6-6"/></svg>
                      <svg class="hs-accordion-active:block hidden flex-shrink-0 size-5 text-gray-600 group-hover:text-gray-500 dark:text-neutral-400" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m18 15-6-6-6 6"/></svg>
                    </button>
                    <div id="hs-basic-with-title-and-arrow-stretched-collapse-four" class="hs-accordion-content hidden w-full overflow-hidden transition-[height] duration-300" aria-labelledby="hs-basic-with-title-and-arrow-stretched-heading-four">
                      <p class="text-gray-800">
                        사주 분석을 통해 개인의 타고난 운세에서 불균형을 찾아내고, 이를 음양과 오행의 원리에 따라 조절하여 균형을 맞춰 드립니다. 이 과정에서 부드럽고 우아한, 발음하기 쉬운 최고의 이름 추천순서로 8개 선정해 통보해 드리며, 작명 요청 시 기재하신 선호하는 이름을 고려하여 이를 작명에 반영합니다. 확인된 좋은 한자가 있을 경우, 그 한자를 사용하여 이름을 우선 추천드립니다.
                      </p>
                    </div>
                  </div>

                  <div class="hs-accordion hs-accordion-active:bg-gray-100 rounded-xl p-6 dark:hs-accordion-active:bg-white/10" id="hs-basic-with-title-and-arrow-stretched-heading-five">
                    <button class="hs-accordion-toggle group pb-3 inline-flex items-center justify-between gap-x-3 w-full md:text-lg font-semibold text-start text-gray-800 rounded-lg transition hover:text-gray-500" aria-controls="hs-basic-with-title-and-arrow-stretched-collapse-five">
                      불용문자란 무엇인가요?
                      <svg class="hs-accordion-active:hidden block flex-shrink-0 size-5 text-gray-600 group-hover:text-gray-500 dark:text-neutral-400" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m6 9 6 6 6-6"/></svg>
                      <svg class="hs-accordion-active:block hidden flex-shrink-0 size-5 text-gray-600 group-hover:text-gray-500 dark:text-neutral-400" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m18 15-6-6-6 6"/></svg>
                    </button>
                    <div id="hs-basic-with-title-and-arrow-stretched-collapse-five" class="hs-accordion-content hidden w-full overflow-hidden transition-[height] duration-300" aria-labelledby="hs-basic-with-title-and-arrow-stretched-heading-five">
                      <p class="text-gray-800">
                        불용문자란 이름에 사용하는 것을 피해야 하는 한자를 의미합니다. 예기(禮記)에서는 개인의 이름 자(字)에 국가명이나 해(日), 달(月), 산(山), 천(天), 자(字) 같은 특정 글자들의 사용을 금지하는 것이 최초로 언급되었습니다. 시간이 지나면서 성명학자들은 이 개념을 확장시켜, 불용문자 사용이 불길을 초래할 수 있다고 주장하며, 이름에 사용을 자제하도록 권고하고 있습니다. 특히 의미가 부적절하거나 불쾌한 한자는 이름에 사용해서는 안 됩니다. 인명용 한자를 기반으로 작명을 진행하며, 일반적으로 불용문자는 배제하고 있지만 필요에 따라 선택적으로 사용할 수도 있습니다.
                      </p>
                    </div>
                  </div>

                  <div class="hs-accordion hs-accordion-active:bg-gray-100 rounded-xl p-6 dark:hs-accordion-active:bg-white/10" id="hs-basic-with-title-and-arrow-stretched-heading-six">
                    <button class="hs-accordion-toggle group pb-3 inline-flex items-center justify-between gap-x-3 w-full md:text-lg font-semibold text-start text-gray-800 rounded-lg transition hover:text-gray-500" aria-controls="hs-basic-with-title-and-arrow-stretched-collapse-six">
                      택일은 꼭 필요한가요?
                      <svg class="hs-accordion-active:hidden block flex-shrink-0 size-5 text-gray-600 group-hover:text-gray-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m6 9 6 6 6-6"/></svg>
                      <svg class="hs-accordion-active:block hidden flex-shrink-0 size-5 text-gray-600 group-hover:text-gray-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m18 15-6-6-6 6"/></svg>
                    </button>
                    <div id="hs-basic-with-title-and-arrow-stretched-collapse-six" class="hs-accordion-content hidden w-full overflow-hidden transition-[height] duration-300" aria-labelledby="hs-basic-with-title-and-arrow-stretched-heading-six">
                      <p class="text-gray-800">
                        출산 택일의 주된 목적은 아기에게 좋은 기운을 부여하고, 나아가 그의 성격, 건강, 재운, 인간 관계 등 인생의 중대한 측면들에 긍정적인 영향을 미치기 위함입니다. 아기가 태어나는 시간에 따라 사주팔자가 결정되기 때문에, 최적의 날과 시간을 선택하는 것은 아기의 미래에 큰 도움을 줄 수 있습니다.
                        명리학에서는 하늘의 기운과 인간의 생활이 서로 연결되어 있다고 보며, 태어나는 시간에 따라 개인의 기운이 달라질 수 있습니다. 따라서 출산 택일을 통해 이러한 기운을 조화롭게 맞추려는 노력은 아기가 조화롭고 균형 잡힌 삶을 영위할 수 있도록 도와줄 것입니다.
                      </p>
                    </div>
                  </div>
                </div>
                <!-- End Accordion -->
              </div>
            </div>
            <!-- End FAQ -->
        </div>
      </div>
      <div class="hidden lg:block">
        {% include "section/reserve.html" %}
        {% include "section/account_info.html" %}
      </div>
    </div>
    <!-- End Content -->

    <!-- Sidebar -->
     {% include "sidebar.html" %}
    <!-- End Sidebar -->
  </div>
</div>
<!-- End Blog Article -->

<div class="lg:hidden">
  {% include "section/reserve.html" %}
  {% include "section/account_info.html" %}
</div>
{% endblock content %}
