{% extends 'main.html' %} 

{% block content %}

{% load static %}
<!-- Blog Article -->
<div class="max-w-[85rem] px-4 sm:px-6 lg:px-8 mx-auto text-black">
  <div class="grid lg:grid-cols-3 gap-y-8 lg:gap-y-0 lg:gap-x-6">
    <!-- Content -->
    <div class="lg:col-span-2">
      <div class="py-8 lg:pe-8">
        {% include './components/write_form.html'%}
      </div>
      <div class="hidden lg:block">
        {% include "section/reserve.html" %}
        {% include "section/account_info.html" %}
      </div>
    </div>
    <!-- End Content -->

    <!-- Sidebar -->
     {% include "sidebar.html" %}
    <!-- End Sidebar -->
  </div>
</div>
<!-- End Blog Article -->

<div class="lg:hidden">
  {% include "section/reserve.html" %}
  {% include "section/account_info.html" %}
</div>
{% endblock content %}
