{% extends 'main.html' %} 

{% block content %}

{% load static %}
<!-- Blog Article -->
<div class="max-w-[85rem] px-4 sm:px-6 lg:px-8 mx-auto">
  <div class="grid lg:grid-cols-3 gap-y-8 lg:gap-y-0 lg:gap-x-6">
    <!-- Content -->
    <div class="lg:col-span-2">
      <div class="py-8 lg:pe-8">
        <div class="space-y-5 lg:space-y-8">
            <div class="flex rounded-md items-center justify-center h-28 bg-no-repeat bg-center bg-[url('{% static '/base/img/map_top_img.jpg' %}')]">
                <div class="text-white rounded-lg px-4 py-2 text-base sm:text-xl bg-slate-500 bg-opacity-50">찾아오시는길</div>
            </div>
            <div class="flex items-center mt-2 text-sm lg:text-base font-semibold border-b border-gray-200 pb-2">
                <div class="mt-[2px] mr-3 h-4 border-l-4 border-amber-900/70"></div>
                <div>작명원소개 > 찾아오시는길</div>
            </div>

            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3235.182418075799!2d127.14111821179907!3d35.8199998222232!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3570230072e9d50f%3A0x2b7cc57a4eb42838!2z64-E7JuQ7IKs7KO87J6R66qF7JuQ!5e0!3m2!1sko!2skr!4v1715144634948!5m2!1sko!2skr" class="w-full h-72 sm:h-96" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

            <div class="space-y-3">
              <h3 class="text-base sm:text-xl lg:text-2xl font-semibold">도원사주작명원 이용안내</h3>
              <p class="text-sm sm:text-base lg:text-lg text-gray-800">건물내 주차장이 협소하오니 가급적 대중교통을 이용해주시거나, 주변 유료 주차장을 이용해주시기 바랍니다.</p>
            </div>
      
            <ul class="list-disc list-outside space-y-2 ps-5 text-sm sm:text-base lg:text-lg text-gray-800">
              <li class="ps-2">전주시 완산구 전주객사4길 46, 715호</li>
              <li class="ps-2">TEL : 063-285-7255</li>
              <li class="ps-2">Mobile : 010-5518-7255</li>
              <li class="ps-2">모든 상담은 예약으로 이루어집니다</li>
            </ul>
        </div>
      </div>
      <div class="hidden lg:block">
        {% include "section/reserve.html" %}
        {% include "section/account_info.html" %}
      </div>
    </div>
    <!-- End Content -->

    <!-- Sidebar -->
     {% include "sidebar.html" %}
    <!-- End Sidebar -->
  </div>
</div>
<!-- End Blog Article -->

<div class="lg:hidden">
  {% include "section/reserve.html" %}
  {% include "section/account_info.html" %}
</div>
{% endblock content %}
