{% extends 'main.html' %} 

{% block content %}

{% include 'base/home/hero_section.html' %}
{% include 'base/home/main_section.html' %}
{% include 'base/home/3grid_card.html' %}
{% comment %} {% include 'base/home/input_section.html' %} {% endcomment %}
{% include 'base/home/free_estimate.html' %}
{% include 'base/home/info_section.html' %}
{% include 'base/home/news_latest.html' %}
{% include 'base/home/testimonials.html' %}
{% include 'base/home/card_section.html' %}
{% include 'base/home/youtube.html' %}
{% include 'base/home/latest_post.html' %}
{% include 'section/reserve.html' %}
{% include 'section/account_info.html' %}

{% endblock content %}
