{% extends 'main.html' %} 

{% block content %}

{% load static %}
<!-- Blog Article -->
<div class="max-w-[85rem] px-4 sm:px-6 lg:px-8 mx-auto">
  <div class="grid lg:grid-cols-3 gap-y-8 lg:gap-y-0 lg:gap-x-6">
    <!-- Content -->
    <div class="lg:col-span-2">
      <div class="py-8 lg:pe-8">
        <div class="space-y-5 lg:space-y-8">
            <div class="flex rounded-md items-center justify-center h-28 bg-no-repeat bg-center bg-[url('{% static '/base/img/info_top_img.jpg' %}')]">
                <div class="text-white rounded-lg px-4 py-2 text-base sm:text-xl bg-slate-500 bg-opacity-50">신청안내</div>
            </div>
            <div class="flex items-center mt-2 text-sm lg:text-base font-semibold pl-3 py-1 border-b border-gray-200">
                <div class="mt-[2px] mr-3 h-4 border-l-4 border-amber-900/70"></div>
                <div>도원사주작명원 > 신청안내</div>
            </div>
            <p class="border p-3 rounded-md border-blue-300 mt-4 text-gray-700 text-sm lg:text-base font-normal">
              무료로 현재 사용중인 이름이 본인의 사주에 적합한지 상담해드리고 있습니다. 현재 사용중인 이름의 한자와 뜻 그리고 개명동기를 상세히 기재해주시면 정확한 감명에 도움이 됩니다. 
              무료감명 신청 내용은 <b>공개 및 답변완료 후 삭제가 불가</b>하므로 비공개 상담을 원할시 유료상담을 이용해주시기 바랍니다.
            </p>
            <div class="relative">
              <div class="absolute top-[8px] left-1 rounded-full size-4 border-4 border-blue-800/80"></div>
              <h2 class="pl-7 mt-8 lg:mt-11 text-lg font-semibold text-gray-800">
                신생아작명
              </h2>              
            </div>  
            <ul class="list-disc space-y-2 ps-9 text-sm sm:text-base lg:text-lg text-gray-800">
              <li class="ps-2">전주시 완산구 전주객사4길 46, 715호</li>
              <li class="ps-2">TEL : 063-285-7255</li>
              <li class="ps-2">Mobile : 010-5518-7255</li>
              <li class="ps-2">모든 상담은 예약으로 이루어집니다</li>
            </ul>
            
            {% include "base/components/card_section.html" %}

        </div>
      </div>
    </div>
    <!-- End Content -->

    <!-- Sidebar -->
     {% include "sidebar.html" %}
    <!-- End Sidebar -->
  </div>
</div>
<!-- End Blog Article -->

{% endblock content %}
