{% extends 'main.html' %} 

{% block content %}

{% load static %}
<!-- Blog Article -->
<div class="max-w-[85rem] px-4 sm:px-6 lg:px-8 mx-auto">
  <div class="grid lg:grid-cols-3 gap-y-8 lg:gap-y-0 lg:gap-x-6">
    <!-- Content -->
    <div class="lg:col-span-2">
      <div class="py-8 lg:pe-8">
        <div class="space-y-5 lg:space-y-8">
            <div class="flex rounded-md items-center justify-center h-28 bg-no-repeat bg-center bg-[url('{% static '/base/img/info_top_img.jpg' %}')]">
                <div class="text-white rounded-lg px-4 py-2 text-base sm:text-xl bg-slate-500 bg-opacity-50">신청안내</div>
            </div>
            <div class="flex items-center mt-2 text-sm lg:text-base font-semibold pl-3 py-1 border-b border-gray-200">
                <div class="mt-[2px] mr-3 h-4 border-l-4 border-amber-900/70"></div>
                <div>도원사주작명원 > 신청안내</div>
            </div>
            <p class="border p-3 rounded-md border-blue-300 mt-4 text-gray-700 text-sm lg:text-base font-normal">
              좋은이름을 작명하려면 사주명리학과 성명학에 대한 공부가 깊어야하며, 경력이 풍부해야 합니다. 
            </p>
            {% include 'section/naming_process.html' %}
            <div class="grid sm:pl-6 sm:grid-cols-2">
              <div class="space-y-6">
                <div class="relative">
                  <div class="absolute top-[6px] left-1 rounded-full size-4 border-4 border-blue-800/80"></div>
                  <h2 class="pl-7 mt-8 lg:mt-11 text-lg font-semibold text-gray-800">
                    신생아작명
                  </h2>              
                </div>  
                <ul class="list-disc space-y-1 ps-9 text-sm sm:text-base lg:text-lg text-gray-800">
                  <li class="ps-2">작명비용 : 15만원</li>
                  <li class="ps-2">추천이름수 : 8개</li>
                  <li class="ps-2">추가이름추천(상담)</li>
                </ul>
              </div>

              <div class="space-y-6">
                <div class="relative">
                  <div class="absolute top-[6px] left-1 rounded-full size-4 border-4 border-blue-800/80"></div>
                  <h2 class="pl-7 mt-8 lg:mt-11 text-lg font-semibold text-gray-800">
                    개명
                  </h2>              
                </div>  
                <ul class="list-disc space-y-1 ps-9 text-sm sm:text-base lg:text-lg text-gray-800">
                  <li class="ps-2">개명비용 : 15만원</li>
                  <li class="ps-2">추천이름수 : 8개</li>
                  <li class="ps-2">추가이름추천(상담)</li>
                </ul>
              </div>

              <div class="space-y-6">
                <div class="relative">
                  <div class="absolute top-[6px] left-1 rounded-full size-4 border-4 border-blue-800/80"></div>
                  <h2 class="pl-7 mt-8 lg:mt-11 text-lg font-semibold text-gray-800">
                    사주상담
                  </h2>              
                </div>  
                <ul class="list-disc space-y-1 ps-9 text-sm sm:text-base lg:text-lg text-gray-800">
                  <li class="ps-2">사주상담 : 5만원</li>
                  <li class="ps-2">가족사주 : 10만원</li>
                </ul>
              </div>

              <div class="space-y-6">
                <div class="relative">
                  <div class="absolute top-[6px] left-1 rounded-full size-4 border-4 border-blue-800/80"></div>
                  <h2 class="pl-7 mt-8 lg:mt-11 text-lg font-semibold text-gray-800">
                    기타상담
                  </h2>              
                </div>  
                <ul class="list-disc space-y-1 ps-9 text-sm sm:text-base lg:text-lg text-gray-800">
                  <li class="ps-2">궁합상담 : 10만원</li>
                  <li class="ps-2">출산택일 : 10만원</li>
                  <li class="ps-2">상호작명 : 15만원</li>
                </ul>
              </div>
            </div>
            
            {% include "base/components/card_section.html" %}

        </div>
      </div>
    </div>
    <!-- End Content -->

    <!-- Sidebar -->
     {% include "sidebar.html" %}
    <!-- End Sidebar -->
  </div>
</div>
<!-- End Blog Article -->

{% endblock content %}
