{% extends 'main.html' %} 
{% block content %}

<section class="py-10 my-auto">
    <div class="lg:w-[80%] md:w-[90%] w-[96%] mx-auto flex gap-4">
        <div
            class="lg:w-[88%] md:w-[80%] sm:w-[88%] w-full mx-auto shadow-2xl p-4 rounded-xl h-fit self-center">
            <!--  -->
            <div class="">
                <h1
                    class="lg:text-3xl text-2xl text-bold mb-2 text-center">
                    프로필
                </h1>
                <h2 class="text-grey text-sm mb-4 text-right">수정</h2>
                    <!-- Cover Image -->
                <div
                    class="py-7 w-full rounded-sm bg-[url('{{ profile.bgimg.url}}')] bg-cover bg-center bg-no-repeat items-center">
                    <!-- Profile Image -->
                    <div
                        class="mx-auto flex justify-center w-[141px] h-[141px] bg-blue-300/20 rounded-full bg-[url('{{ profile.picture.url }}')] bg-cover bg-center bg-no-repeat">
                    </div>
                </div>
                <div class="grid grid-cols-2 gap-4 lg:gap-6 mt-4">
                    <div>
                      <label for="gen" class="block mb-2 text-sm text-gray-700 font-medium"
                        >성별</label
                      >
                      <div
                        id="gen"
                        class="py-3 px-4 h-11 block w-full bg-gray-100 rounded-md text-sm border-b-2"
                      >
                        {{person.gen}}
                      </div>
                    </div>
                
                    <div>
                      <label for="sl" class="block mb-2 text-sm text-gray-700 font-medium"
                        >음력/양력</label
                      >
                      <div
                        id="sl"
                        class="py-3 px-4 h-11 block w-full bg-gray-100 rounded-md text-sm border-b-2"
                      >
                        {{person.sl}}
                      </div>
                    </div>
                  </div>
                
                  <!-- Grid -->
                  <div class="grid grid-cols-2 gap-4 lg:gap-6">
                    <div>
                      <label for="year" class="block mb-2 text-sm text-gray-700 font-medium"
                        >년(年)</label
                      >
                      <div
                        id="year"
                        class="py-3 px-4 block h-11 w-full bg-gray-100 rounded-md text-sm border-b-2"
                      >
                        {{person.year}}
                      </div>
                    </div>
                
                    <div>
                      <label for="month" class="block mb-2 text-sm text-gray-700 font-medium"
                        >월(月)</label
                      >
                      <div
                        id="month"
                        class="py-3 px-4 block h-11 w-full bg-gray-100 rounded-md text-sm border-b-2"
                      >
                        {{person.month}}
                      </div>
                    </div>
                
                    <div>
                      <label for="day" class="block mb-2 text-sm text-gray-700 font-medium"
                        >일(日)</label
                      >
                      <div
                        id="day"
                        class="py-3 px-4 h-11 block w-full bg-gray-100 rounded-md text-sm border-b-2"
                      >
                        {{person.day}}
                      </div>
                    </div>
                
                    <div>
                      <label for="hour" class="block mb-2 text-sm text-gray-700 font-medium"
                        >시(時)</label
                      >
                      <div
                        id="hour"
                        class="py-3 px-4 h-11 block w-full bg-gray-100 rounded-md text-sm border-b-2"
                      >
                        {{person.hour}}
                      </div>
                    </div>
                
                    <div>
                      <label for="min" class="block mb-2 text-sm text-gray-700 font-medium"
                        >분(分)</label
                      >
                      <div
                        id="min"
                        class="py-3 px-4 h-11 block w-full bg-gray-100 rounded-md text-sm border-b-2"
                      >
                        {{person.min}}
                      </div>
                    </div>
                    <!-- End Grid -->
                  </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}
