{% load static %}

<div class="flex ml-3 gap-3 justify-start items-center">
  <div class="rounded-full size-4 border-4 border-blue-800/80"></div>
  <div class="text-lg font-semibold text-gray-800">
    작명세부과정
  </div>              
</div>  
<div class="max-w-[85rem] px-4 sm:px-6 lg:px-8 mx-auto">

<!-- 절차안내섹션 start -->
  <div class="flex flex-col sm:flex-row flex-wrap mt-4 lg:mt-8">
    <div class="flex flex-col min-[500px]:flex-row items-center w-full mb-4 px-2">
      <div class="flex-none py-5"><img class="max-w-44 min-[500px]:w-28 rounded-lg border border-gray-400" src="{% static "/section/img/process2.png" %}" /></div>
      <div class="h-full py-4 min-[500px]:pl-6">
          <h3 class="font-bold mb-2 border-b-2 border-amber-950/50">사주에 필요한 오행(五行)을 판단</h3>
          <p>
            1.오행(五行)의 세력(勢力)과 분포(分布) 파악.
            2.일간(日干)의 강약(强弱)과 출생한 계절 분석.
            3.용신(用神)과 평생 운로 및 대운(大運)의 방향 분석.
            4.타고난 성격(性格)과 적성(適性) 진로(進路) 파악.
            5.가족 구성원과의 인연(因緣),이성과의 인연 관계파악.
          </p>
      </div>
    </div>
    <div class="flex flex-col min-[500px]:flex-row items-center w-full mb-4 px-2">
      <div class="flex-none py-5"><img class="max-w-44 min-[500px]:w-28 rounded-lg border border-gray-400" src="{% static "/section/img/process3.png" %}" /></div>
      <div class="h-full py-4 min-[500px]:pl-6">
          <h3 class="font-bold mb-2 border-b-2 border-amber-950/50">자의(字意)와 음운(音韻)을 분석</h3>
          <p>
            1.글자의 담긴 의미와 발음의 글자를 선별.
            2.이름에 쓰일 글자를 조화롭게 배열.
            3.뜻이 나쁜 불용한자는 피해서 작명.
            4.한자의 본질적인 의미를 파악하여 선택.
          </p>
      </div>
    </div>
    <div class="flex flex-col min-[500px]:flex-row items-center w-full mb-4 px-2">
      <div class="flex-none py-5"><img class="max-w-44 min-[500px]:w-28 rounded-lg border border-gray-400" src="{% static "/section/img/process4.png" %}" /></div>
      <div class="h-full py-4 min-[500px]:pl-6">
          <h3 class="font-bold mb-2 border-b-2 border-amber-950/50">기(氣)와 발음(發音),어감을 판단</h3>
          <p>
            1.맑고 부르기 좋은 소리와 듣기 좋은 소리가 담긴 음운인지 검토.
            2.이름의 혼탁,천박함,놀림감 등 검토.
            3.음(陰)과 양(陽)의 적절한 배합 검토.
            4.원형이정 4격을 길한수리로 배열.
          </p>
      </div>
    </div>
   
  </div>
  <!-- 절차안내섹션 end -->  
</div>