{% load static %}
<div class="w-full flex mt-3">
    <div class="flex justify-center w-1/2 bg-green-500">
        <a class="flex gap-x-2 justify-center items-center my-3" href="https://m.booking.naver.com/booking/6/bizes/167387?tr=bnm" target="_blank">
            <div class="text-white font-semibold">네이버 예약</div>
            <img class="h-4 w-auto ml-1" src="{% static 'section/img/naver_book_logo.png'%}">
        </a>    
    </div>
    <div class="flex justify-center w-1/2 bg-sky-900">
        <a class="flex gap-x-2 justify-center items-center my-3" href="#" >
            <div class="text-white font-semibold">오시는 길</div>        
            <img class="h-4 w-auto ml-1" aria-label="reserve icon" src="{% static 'section/img/map_logo.png' %}">
        </a>
    </div>
</div>