{% load static %}
<!-- Card Blog -->
<div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">  
  
    <!-- Grid -->
    <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-6">
      <!-- Card -->
      <a class="group" href="{% url 'about' %}">
        <div class="relative pt-[50%] sm:pt-[70%] rounded-xl overflow-hidden">
          <img class="size-full absolute top-0 start-0 object-cover group-hover:scale-105 transition-transform duration-500 ease-in-out rounded-xl" src="{% static 'base/img/2of3.jpg' %}" alt="Image Description">
          <span class="absolute top-0 end-0 rounded-se-xl rounded-es-xl font-medium text-xs bg-gray-800 text-white py-1.5 px-3">
            원장 김종찬 
          </span>
        </div>
  
        <div class="mt-7">
          <h3 class="text-xl font-semibold text-gray-800 group-hover:text-gray-600">
            도원사주작명원 인사말
          </h3>
          <p class="mt-3 text-gray-800">
            우리 인생은 다양한 고난과 기쁨을 경험하며 살아가는 과정입니다. 일상의 어려움부터 시작해 학문의 도전, 배우자를 찾고 가정을 이루는 일, 그리고 자녀를 키우며 부모로서 겪는 수많은 고민과 즐거움까지, 인생은 마치 끝없는 여정과도 같습니다...
          </p>
          <p class="mt-5 inline-flex items-center gap-x-1 text-blue-600 decoration-2 group-hover:underline font-medium">
            더보기
            <svg class="flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m9 18 6-6-6-6"/></svg>
          </p>
        </div>
      </a>
      <!-- End Card -->
  
      <!-- Card -->
      <a class="group" href="{% url 'post-detail' '4' %}">
        <div class="relative pt-[50%] sm:pt-[70%] rounded-xl overflow-hidden">
          <img class="size-full absolute bottom-0 object-cover group-hover:scale-105 transition-transform duration-500 ease-in-out rounded-xl" src="{% static 'base/img/home_post1.jpg' %}" alt="Image Description">
        </div>
  
        <div class="mt-7">
          <h3 class="text-xl font-semibold text-gray-800 group-hover:text-gray-600">
            사주와 성명학의 도
          </h3>
          <p class="mt-3 text-gray-800">
            황제내경에서 음양이란 천지의 도이며, 만물의 綱紀이고 변화의 부모이며, 생살의 본시이고 神明의 고을이라 하였다. 음양을 알고 음양에서 파생된 10간 12지 즉 60갑자를 알면 이 우주와 인간이 변화해 나가는 이치를 통달할 수 있다는 것이다...
          </p>
          <p class="mt-5 inline-flex items-center gap-x-1 text-blue-600 decoration-2 group-hover:underline font-medium">
            더보기
            <svg class="flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m9 18 6-6-6-6"/></svg>
          </p>
        </div>
      </a>
      <!-- End Card -->
  
      <!-- Card -->
      <a class="group" href="{% url 'post-detail' '3' %}">
        <div class="relative pt-[50%] sm:pt-[70%] rounded-xl overflow-hidden">
          <img class="size-full absolute bottom-0 object-cover group-hover:scale-105 transition-transform duration-500 ease-in-out rounded-xl" src="{% static 'base/img/home_post2.jpg' %}" alt="Image Description">
        </div>
  
        <div class="mt-7">
          <h3 class="text-xl font-semibold text-gray-800 group-hover:text-gray-600">
            을축(乙丑) 일주에 대하여
          </h3>
          <p class="mt-3 text-gray-800">
            을축(乙丑)일주의 을(乙)은 새싹이자 나무입니다. 십이운성 상으로는 쇠(衰)지에 거하고 또한 축은 관(官)의 묘(墓)이자 고(庫)입니다. 십신으로는 편재에 해당합니다. 긴긴 겨울의 추위를 견디고 풋풋한 새싹을 내미는 을축일주는...
          </p>
          <p class="mt-5 inline-flex items-center gap-x-1 text-blue-600 decoration-2 group-hover:underline font-medium">
            더보기
            <svg class="flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m9 18 6-6-6-6"/></svg>
          </p>
        </div>
      </a>
      <!-- End Card -->
    </div>
    <!-- End Grid -->
  </div>
  <!-- End Card Blog -->