{% load static %}
<div class="grid md:grid-cols-2 max-w-[70rem] mx-auto">
    <div class="flex flex-col gap-y-6 justify-center items-center mb-10">
        <div class="font-semibold sm:text-xl">도원사주학·성명학 최신글</div>
        <div class="flex flex-col sm:flex-row md:flex-col gap-y-5 sm:gap-x-8">
            <div class="bg-[url('{{latest.image.url}}')] bg-cover bg-center bg-no-repeat h-32 sm:w-40 sm:h-auto md:h-32 md:w-auto rounded-lg" ></div>
            <div class="space-y-3">
                <!-- Media -->
                {% for post in posts %}
                <a class="group flex items-center text-black" href="{% url 'post-detail' post.id %}">
                    <div class="">
                        <div class="flex items-center gap-3">
                            <div
                                class="max-[370px]:hidden bg-gray-200 text-xs font-base rounded-sm px-1 group-hover:text-blue-600"
                            >
                                {{post.category}}
                            </div>
                            <span
                            class="text-sm lg:text-base font-base text-gray-800 group-hover:text-blue-600"
                            >
                            {{post.title}}
                            </span>
                            <div
                                class="bg-gray-100 text-xs font-semibold rounded-sm px-1 group-hover:text-blue-600"
                            >
                                {{post.created_at|date:"m.d"}}
                            </div>
                        </div>
                    </div>
                </a>
                {% endfor %} 
            </div>
        </div>
    </div>
    <div class="flex flex-col gap-y-6 justify-center items-center mb-10">
        <div class="font-semibold sm:text-xl">고객문의게시판</div>
        <div class="flex flex-col sm:flex-row md:flex-col gap-y-5 sm:gap-x-8">
            <div class="bg-[url('{% static 'base/img/customboard.jpg' %}')] bg-cover bg-center bg-no-repeat h-32 sm:w-40 sm:h-auto md:h-32 md:w-auto rounded-lg" ></div>
            <div class="space-y-3">
                <!-- Media -->
                {% for post in posts %}
                <a class="group flex items-center text-black" href="{% url 'post-detail' post.id %}">
                    <div class="">
                        <div class="flex items-center gap-3">
                            <div
                                class="max-[370px]:hidden bg-gray-200 text-xs font-base rounded-sm px-1 group-hover:text-blue-600"
                            >
                                {{post.category}}
                            </div>
                            <span
                            class="text-sm lg:text-base font-base text-gray-800 group-hover:text-blue-600"
                            >
                            {{post.title}}
                            </span>
                            <div
                                class="bg-gray-100 text-xs font-semibold rounded-sm px-1 group-hover:text-blue-600"
                            >
                                {{post.created_at|date:"m.d"}}
                            </div>
                        </div>
                    </div>
                </a>
                {% endfor %} 
            </div>
        </div>
    </div>
</div>