{% load static %} {% load base_tags %}

<div class="md:grid md:grid-cols-2 max-w-[70rem] mx-auto">
  <div
    class="w-full relative flex flex-col gap-y-6 justify-center items-center md:justify-start mb-10"
  >
    <div class="flex items-center font-semibold sm:text-xl">
      도원사주학·성명학 최신글
      <div class="border inline-block rounded-sm border-gray-400 ml-4">
        <a href="{% url 'saju-base' %}"
          ><img
            class="size-2 lg:size-3"
            src="{% static 'base/img/plus-sign.png' %}"
        /></a>
      </div>
    </div>

    <div
      class="flex flex-col min-h-28 sm:flex-row md:flex-col gap-y-5 sm:gap-x-8 w-full min-[400px]:w-[410px] sm:w-10/12 lg:max-w-[450px] px-6"
    >
      <img
        src="{{latest.image.url}}"
        class="object-cover h-32 sm:w-40 sm:h-auto md:h-36 md:w-auto rounded-lg"
      />
      <div class="space-y-3 min-w-0">
        <!-- Media -->
        {% for post in posts %}
        <a
          class="group flex items-center text-black"
          href="{% url 'post-detail' post.id %}"
        >
          <div class="flex items-center gap-3 w-full">
            <!-- 왼쪽 category: 고정 너비 -->
            <div
              class="bg-gray-200 text-xs font-base rounded-sm px-1 group-hover:text-blue-600 truncate"
            >
              {{ post.category }}
            </div>

            <!-- 가운데 title: 유동 너비 + 글자 줄이기 허용 -->
            <span
              class="flex-1 min-w-0 truncate text-sm lg:text-base font-base text-gray-800 group-hover:text-blue-600"
            >
              {{ post.title }}
            </span>

            <!-- 오른쪽 created_at: 고정 너비 -->
            <div
              class="w-12 bg-gray-100 text-xs font-semibold rounded-sm px-1 group-hover:text-blue-600 text-right"
            >
              {{ post.created_at|date:"m.d" }}
            </div>
          </div>
        </a>
        {% endfor %}
      </div>
    </div>
  </div>
  <div
    class="w-full relative flex flex-col gap-y-6 justify-center items-center mb-10"
  >
    <div class="flex items-center font-semibold sm:text-xl">
      상담후기 및 문의
      <div class="border inline-block rounded-sm border-gray-400 ml-4">
        <a href="{% url 'customer-list' %}"
          ><img
            class="size-2 lg:size-3"
            src="{% static 'base/img/plus-sign.png' %}"
        /></a>
      </div>
    </div>

    <div
      class="flex flex-col min-h-28 sm:flex-row md:flex-col gap-y-5 sm:gap-x-8 w-full min-[400px]:w-[410px] sm:w-10/12 lg:max-w-[450px] px-6"
    >
      <img
        class="object-cover h-32 sm:w-40 sm:h-auto md:h-36 md:w-auto rounded-lg"
        src="{% static 'base/img/customboard.jpg' %}"
        alt="Custom Board Image"
      />
      <div class="space-y-3 min-w-0">
        <!-- Media -->
        {% for post in boards %}
        <a
          class="group flex items-center text-black"
          href="{% url 'customer-detail' post.id %}"
        >
          <div class="flex items-center gap-3 w-full">
            <!-- 왼쪽 category: 고정 너비 -->
            <div
              class="bg-gray-200 text-xs font-base rounded-sm px-1 group-hover:text-blue-600 truncate"
            >
              {{ post.name|mask_name }}
            </div>

            <!-- 가운데 title: 유동 너비 + 글자 줄이기 허용 -->
            <span
              class="flex-1 min-w-0 truncate text-sm lg:text-base font-base text-gray-800 group-hover:text-blue-600"
            >
              {% if post.is_secret %}<img class="size-3 inline-block mb-1" src="{% static 'estimate/img/lock.png' %}" alt="Lock icon">{% endif %} {{ post.title }}
            </span>

            <!-- 오른쪽 created_at: 고정 너비 -->
            <div
              class="w-12 bg-gray-100 text-xs font-semibold rounded-sm px-1 group-hover:text-blue-600 text-right"
            >
              {{ post.created_at|date:"m.d" }}
            </div>
          </div>
        </a>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
