{% load widget_tweaks %} 
{% load static %}

<!-- Content -->
<div class="lg:col-span-2">
  <div class="py-8">
    <div class="space-y-5 lg:space-y-8">
      <h2 class="text-xl font-bold lg:text-3xl">
        {{post.title}}
      </h2>

      <div class="flex items-center gap-x-5">
        <p class="text-xs sm:text-sm text-gray-800">
          {{ post.created_at|date:"Y-m-d" }}
        </p>
        <div class="grow">
          <div class="flex gap-x-4 justify-end sm:px-3">
            <a href="{% url 'customer-edit' post.id %}"><img class="h-4 sm:h-5" src="{% static '/estimate/img/edit.png' %}"></a>
            <a href="{% url 'customer-delete' post.id %}"><img class="h-4 sm:h-5" src="{% static '/estimate/img/delete.png' %}"></a>
            <a href="{% url 'customer-list' %}"><img class="h-4 sm:h-5" src="{% static '/estimate/img/listing.png' %}"></a>
          </div>
        </div>
      </div>
      <div class="">
        <div class="prose lg:prose-xl">{{ post.content|linebreaks|safe}}</div>
      </div>
    </div>

    <div class="flex justify-center items-center mt-16 lg:mt-24 mb-5">
      <div class="py-6 px-4 md:px-8 w-full rounded-[12px] bg-white shadow-md border">
        <p class="text-sm sm:text-base font-semibold">
            댓글
        </p> 
          {% for comment in comments %}
          <div class="flex justify-between mt-5 mr-3">
            <div class="flex justify-start"><img class="size-6 mr-2 rounded-full" src="{{comment.user.profile.image_thumb.url}}"/>{% if comment.user.profile.name %}{{comment.user.profile.name}}{%else%}{{comment.user}}{%endif%}</div>
              {% if user.is_staff or comment.user == user%}
              <a href="{% url 'customer-comment-delete' post.id comment.id %}">
                <img class="h-4" src="{% static '/estimate/img/remove.png' %}">
              </a>
              {%endif%}
            </div>
            <div class="mt-3">{{comment.content|linebreaksbr}}</div>
            <div class="text-xs mt-3">{{comment.created}}</div>
          {% endfor %}
          <form method="post" action="{% url 'customer-comment-write' post.id %}">
            {% csrf_token %}
            {% if not user.is_staff %}
                {% render_field comment_form.content class="h-40 p-6 text-sm mt-5 outline-none border-gray-300 w-full resize-none border rounded-lg" placeholder="운영자만 댓글 작성이 가능합니다." disabled=disbled %}
            {% else %}
                {% render_field comment_form.content class="h-40 p-6 text-sm mt-5 outline-none border-gray-300 w-full resize-none border rounded-lg" placeholder="운영자만 댓글 작성이 가능합니다." %}
            {% endif %}
            <div class="flex justify-end mt-2 md:mt-4"> 
                {% if user.is_staff %}
                <button type="submit" class="p-2 md:p-3 bg-blue-600 text-white hover:bg-blue-700 text-xs md:text-sm rounded-lg">
                    확인
                </button>
                {% else %}
                <button class="pointer-events-none p-2 md:p-3 bg-gray-500 text-white rounded-lg">
                  확인
              </button>
                {% endif %}
              </div>   
            </form>
      </div>   
    </div>

  </div>
</div>
<!-- End Content -->