{% load static%}
{% load base_tags %}
<div class="space-y-5 lg:space-y-8">
    <div class="flex rounded-md items-center justify-center h-28 bg-no-repeat bg-center bg-[url('{% static '/base/img/qna.jpg' %}')]">
        <div class="text-white rounded-lg px-4 py-2 text-base sm:text-xl bg-slate-400 bg-opacity-50">고객게시판</div>
    </div>
    <div class="flex items-center mt-2 text-sm lg:text-base font-semibold pl-3 py-1 border-b border-gray-200">
        <div class="mt-[2px] mr-3 h-4 border-l-4 border-amber-900/70"></div>
        <div>작명원소개 > 고객게시판</div>
    </div>

    <!-- Card -->
    <div class="flex flex-col">
        <div class="-m-1.5 overflow-x-auto">
            <div class="p-1.5 min-w-full inline-block align-middle">
                <div class="bg-white border border-gray-200 rounded-xl shadow-sm overflow-hidden">
                    <!-- Header -->
                    <div class="px-6 py-4 grid gap-3 md:flex md:justify-between md:items-center border-b border-gray-200">
                        <div>
                            <h2 class="text-xl font-semibold text-gray-800">
                                고객문의게시판
                            </h2>
                            <p class="text-sm text-gray-600">
                                고객님과 도원사주작명원과의 소통을 위한 게시판입니다.
                            </p>
                        </div>
            
                        <div>
                            <div class="inline-flex gap-x-2">
                                <a class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-blue-600 text-white hover:bg-blue-700" href="{% url 'customer-write' %}">
                                글쓰기
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- End Header -->
        
                    <!-- Table -->
                    <div class="flex w-full overflow-x-auto px-5 py-5">
                        <table class="table-compact table">
                            <thead>
                                <tr>
                                    <th>번호</th>
                                    <th>이름</th>
                                    <th>제목</th>
                                    <th>댓글</th>
                                    <th>작성일</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for post in page_obj %}
                                <tr class="cursor-pointer" onclick="window.location.href='{% url 'customer-detail' post.pk %}';">
                                    <th>{{post.pk}}</th>
                                    <td>{{post.name|truncate_char:4}}</td>
                                    <td>{{post.title|truncate_chars:20}}</td>
                                    <td>{{post.comment_count}}</td>
                                    <td>{{post.created_at|date:"y.m.d"}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- End Table -->
        
                    <!-- Footer -->
                    <div class="px-6 py-4 gap-3 flex justify-between items-center">
                        <div>
                            <p class="text-sm text-gray-600">
                                <span class="font-semibold text-gray-800">{{count}}</span> results
                            </p>
                        </div>
            
                        <div class="inline-flex gap-x-2">
                            {% if page_obj.has_previous %}
                            <a href="?page={{ page_obj.previous_page_number }}">
                            <button type="button" class="py-1.5 px-2 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 dark:border-neutral-700 dark:text-white dark:hover:bg-neutral-800">
                                <svg class="flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m15 18-6-6 6-6"/></svg>
                                Prev
                            </button>
                            </a>
                            {% endif %}
                            {% with current=page_obj.number total_pages=page_obj.paginator.num_pages %}
                                {% for num in page_obj.paginator.page_range %}
                                    {% if num >= current|add:'-2' and num <= current|add:'2' %}
                                        <a href="?page={{ num }}" {% if num == current %}class="active"{% endif %}>{{ num }}</a>
                                        {% if not forloop.last %}, {% endif %}  <!-- 여기에 콤마 추가 -->
                                    {% endif %}
                                {% endfor %}
                            {% endwith %}
                            {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}">
                            <button type="button" class="py-1.5 px-2 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 dark:border-neutral-700 dark:text-white dark:hover:bg-neutral-800">
                                Next
                                <svg class="flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m9 18 6-6-6-6"/></svg>
                            </button>
                            </a>
                            {% endif %}
                        </div>
                    </div>
                    <!-- End Footer -->
                </div>
            </div>
        </div>
    </div>
    <!-- End Card -->
</div>