<div class="overflow-y-visible">
  {% include "components/nav.html" %}
  <!-- Hero -->
  <div class="relative">
    <!-- Gradients -->
    <div aria-hidden="true" class="flex absolute -top-48 start-0 -z-[1]">
      <div
        class="bg-purple-200 opacity-30 blur-3xl w-[1036px] h-[600px]"
      ></div>
      <div
        class="bg-slate-200 opacity-90 blur-3xl w-[577px] h-[300px] transform translate-y-32 dark:bg-slate-800/60"
      ></div>
    </div>
    <!-- End Gradients -->

    <div class="max-w-[85rem] px-4 pt-10 sm:px-6 lg:px-8 lg:pt-14 mx-auto">
      <!-- Title -->
      <div class="max-w-2xl mx-auto text-center mb-10">
        <h2
          class="text-3xl leading-tight font-semibold md:text-4xl md:leading-tight lg:text-5xl lg:leading-tight bg-clip-text bg-gradient-to-r from-sky-950 to-sky-600 text-transparent"
        >
          좋은이름은 최고의 선물
        </h2>
        <p class="mt-2 md:text-xl lg:text-2xl text-gray-600 dark:text-gray-200">
          당신과 아이의 미래를 함께 그리는 작명소
        </p>
      </div>
      <!-- End Title -->

      <!-- Title -->
      <div
        class="mx-auto text-center mt-10 md:mt-14 mb-6 lg:mt-24"
      >
        <p class="text-sm md:text-base lg:text-xl text-gray-600 dark:text-gray-400">
          "이름 하나로 인생의 이야기가 달라집니다"
        </p>
      </div>
    </div>

    <div
      class="absolute top-1/2 start-1/2 -z-[1] transform -translate-y-1/2 -translate-x-1/2 w-[340px] h-[340px] border border-dashed border-violet-200 rounded-full dark:border-violet-900/60"
    ></div>
    <div
      class="absolute top-1/2 start-1/2 -z-[1] transform -translate-y-1/2 -translate-x-1/2 w-[575px] h-[575px] border border-dashed border-violet-200 rounded-full opacity-80 dark:border-violet-900/60"
    ></div>
    <div
      class="absolute top-1/2 start-1/2 -z-[1] transform -translate-y-1/2 -translate-x-1/2 w-[840px] h-[840px] border border-dashed border-violet-200 rounded-full opacity-60 dark:border-violet-900/60"
    ></div>
    <div
      class="absolute top-1/2 start-1/2 -z-[1] transform -translate-y-1/2 -translate-x-1/2 w-[1080px] h-[1080px] border border-dashed border-violet-200 rounded-full opacity-40 dark:border-violet-900/60"
    ></div>
  </div>
  <!-- End Hero -->
</div>
