{% load static %}
<div class="lg:col-span-1 lg:w-full lg:h-full">
  <div class="sticky top-0 start-0 py-8 lg:ps-8">
    <!-- Avatar Media -->
    <div
      class="group flex items-center gap-x-3 border-b border-gray-200 pb-8 mb-8"
    >
      <a class="block flex-shrink-0" href="{% url 'view-profile' 'ocean3885' %}">
        <img
          class="size-10 rounded-full"
          src="{% static 'base/img/profile_img.jpg' %}"
          alt="Image Description"
        />
      </a>

      <div class="group grow block">
        <h5
          class="group-hover:text-gray-600 text-sm font-semibold text-gray-800"
        >
          도원사주작명원
        </h5>
        <p class="text-sm text-gray-500">원장 김종찬</p>
      </div>

      <div class="grow">
        <div class="flex justify-end">
          <a href="{% url "post-list" %}">
          <button
            type="button"
            class="py-1.5 px-2.5 inline-flex items-center gap-x-2 text-xs font-semibold rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700"
          >
            글목록
          </button></a>
        </div>
      </div>
    </div>
    <!-- End Avatar Media -->

    <div class="space-y-6">
      <!-- Media -->
      {% for post in posts1 %}
      <a class="group flex items-center text-black" href="{% url 'post-detail' post.id %}">
        <div class="grow pr-2">
          <div class="flex gap-2 py-2">
            <div
              class="bg-gray-200 text-xs font-semibold rounded-sm px-1 group-hover:text-blue-600"
            >
              {{post.category}}
            </div>
            <div
              class="bg-gray-100 text-xs font-semibold rounded-sm px-1 group-hover:text-blue-600"
            >
              {{post.created_at|date:"y.m.d"}}
            </div>
          </div>
          <span
            class="text-sm lg:text-base font-medium text-gray-800 group-hover:text-blue-600"
          >
            {{post.title}}
          </span>
        </div>

        <div class="flex-shrink-0 relative rounded-lg overflow-hidden size-20">
          <img
            class="size-full absolute top-0 start-0 object-cover rounded-lg"
            src="{{post.image_thumb.url}}"
            alt="Image Description"
          />
        </div>
      </a>
      {% endfor %} {% for post in posts2 %}
      <a
        class="hidden group lg:flex items-center"
        href="{% url 'post-detail' post.id %}"
      >
        <div class="grow pr-2">
          <div class="flex gap-2 py-2">
            <div
              class="bg-gray-200 text-xs font-semibold rounded-sm px-1 group-hover:text-blue-600"
            >
              {{post.category}}
            </div>
            <div
              class="bg-gray-100 text-xs font-semibold rounded-sm px-1 group-hover:text-blue-600"
            >
              {{post.created_at|date:"y.m.d"}}
            </div>
          </div>
          <span
            class="text-sm lg:text-base font-medium text-gray-800 group-hover:text-blue-600"
          >
            {{post.title}}
          </span>
        </div>

        <div class="flex-shrink-0 relative rounded-lg overflow-hidden size-20">
          <img
            class="size-full absolute top-0 start-0 object-cover rounded-lg"
            src="{{post.image_thumb.url}}"
            alt="Image Description"
          />
        </div>
      </a>
      {% endfor %}
      <!-- End Media -->
    </div>
  </div>
</div>
