{% extends 'main.html' %} {% block content %}

<!-- Table Section -->
<div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
  <!-- Card -->
  <div class="flex flex-col">
    <div class="-m-1.5 overflow-x-auto">
      <div class="p-1.5 min-w-full inline-block align-middle">
        <div class="bg-white border border-gray-200 rounded-xl shadow-sm overflow-hidden">
          <!-- Header -->
            <div class="px-6 py-4 grid gap-3 md:flex md:justify-between md:items-center border-b border-gray-200">
              <div>
                <h2 class="text-xl font-semibold text-gray-800">
                  도원사주작명원 글목록
                </h2>
                <p class="text-sm text-gray-600">
                  사주학,성명학,작명사례,일주론 등
                </p>
              </div>

              <form method="get">
                <select class="select w-48" name="category_id" onchange="this.form.submit()">
                    <!-- 전체 글 보기 옵션 추가 -->
                    <option value="" {% if not request.GET.category_id %}selected{% endif %}>전체글</option>
                    <!-- 기존 카테고리 옵션 -->
                    {% for category in categories %}
                    <option value="{{ category.id }}" {% if request.GET.category_id == category.id|stringformat:"s" %}selected{% endif %}>
                        {{ category.name }}
                    </option>
                    {% endfor %}
                </select>
              </form>
            </div>
          <!-- End Header -->
          <!-- Table -->
          <div class="flex w-full overflow-x-auto px-5 py-5">
             <table class="table-compact table w-full table-fixed min-w-[500px]">
                <thead>
                    <tr>
                        <th class="w-[10%]">번호</th>
                        <th class="w-[15%]">분류</th>
                        <th class="w-[40%]">제목</th>
                        <th class="w-[15%]">작성일</th>
                        <th class="w-[10%]">조회수</th>
                    </tr>
                </thead>
                <tbody>
                    {% for post in page_obj %}
                    <tr class="cursor-pointer" onclick="window.location.href='{% url 'post-detail' post.pk %}';">
                        <th>{{post.pk}}</th>
                        <td>{{post.category}}</td>
                        <td>
                            <div class="truncate">{{post.title}}</div>
                            {% if user.is_staff %}
                                {% if post.is_first %} <span class="bg-blue-500 text-[10px] rounded-xl text-white px-1">A</span> {% endif %}
                                {% if post.is_second %} <span class="bg-blue-500 text-[10px] rounded-xl text-white px-1">S</span> {% endif %}
                            {% endif %}
                        </td>
                        <td>{{post.created_at|date:"y.m.d"}}</td>
                        <td>{{post.count}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
             </table>
         </div>
          <!-- End Table -->

          <!-- Footer -->
          {% include 'paginator2.html' %}
          <!-- End Footer -->
        </div>
      </div>
    </div>
  </div>
  <!-- End Card -->
</div>
<!-- End Table Section -->



{% endblock content %}
