{% extends 'main.html' %} {% block content %}

<!-- Table Section -->
<div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
  <!-- Card -->
  <div class="flex flex-col">
    <div class="-m-1.5 overflow-x-auto">
      <div class="p-1.5 min-w-full inline-block align-middle">
        <div class="bg-white border border-gray-200 rounded-xl shadow-sm overflow-hidden">
          <!-- Header -->
            <div class="px-6 py-4 grid gap-3 md:flex md:justify-between md:items-center border-b border-gray-200">
              <div>
                <h2 class="text-xl font-semibold text-gray-800">
                  도원사주작명원 글목록
                </h2>
                <p class="text-sm text-gray-600">
                  사주학,성명학,작명사례,일주론 등
                </p>
              </div>

              <form method="get">
                <select class="select w-48" name="category_id" onchange="this.form.submit()">
                    <!-- 전체 글 보기 옵션 추가 -->
                    <option value="" {% if not request.GET.category_id %}selected{% endif %}>전체글</option>
                    <!-- 기존 카테고리 옵션 -->
                    {% for category in categories %}
                    <option value="{{ category.id }}" {% if request.GET.category_id == category.id|stringformat:"s" %}selected{% endif %}>
                        {{ category.name }}
                    </option>
                    {% endfor %}
                </select>
              </form>
            </div>
          <!-- End Header -->
          <!-- Table -->
          <div class="flex w-full overflow-x-auto px-5 py-5">
            <table class="table-compact table ">
              <thead>
                <tr>
                  <th>번호</th>
                  <th>분류</th>
                  <th>제목</th>
                  <th>작성일</th>
                  <th>조회수</th>
                </tr>
              </thead>
              <tbody>
                {% for post in page_obj %}
                <tr class="cursor-pointer" onclick="window.location.href='{% url 'post-detail' post.pk %}';">
                    <th>{{post.pk}}</th>
                    <td>{{post.category}}</td>
                    <td>{{post.title}}{% if user.is_staff %}
                      {% if post.is_first %} <span class="bg-blue-500 text-[10px] rounded-xl text-white px-1">A</span> {% endif %} 
                      {% if post.is_second %} <span class="bg-blue-500 text-[10px] rounded-xl text-white px-1">S</span> {% endif %}
                      {% endif %}
                    </td>
                    <td>{{post.created_at|date:"y.m.d"}}</td>
                    <td>{{post.count}}</td>
                </tr>
                {% endfor %}
                
              </tbody>
            </table>
          </div>
          <!-- End Table -->

          <!-- Footer -->
          <div class="px-6 py-4 gap-3 flex justify-between items-center">
            <div>
              <p class="text-sm text-gray-600">
                <span class="font-semibold text-gray-800">{{count}}</span> results
              </p>
            </div>

            <div class="flex justify-center items-center">
              <div class="flex justify-center items-center gap-x-3">
                {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}">
                  <button type="button" class="py-1.5 px-2 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 dark:border-neutral-700 dark:text-white dark:hover:bg-neutral-800">
                    <svg class="flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m15 18-6-6 6-6"/></svg>
                    Prev
                  </button>
                </a>
                {% endif %}
                {% with current=page_obj.number total_pages=page_obj.paginator.num_pages %}
                    {% for num in page_obj.paginator.page_range %}
                        {% if num >= current|add:'-2' and num <= current|add:'2' %}
                            <a href="?page={{ num }}" {% if num == current %}class="active"{% endif %}>{{ num }}</a>
                        {% endif %}
                    {% endfor %}
                {% endwith %}

                {% if page_obj.paginator.num_pages > 5 %}
                  {% if page_obj.number < page_obj.paginator.num_pages|add:'-2' %}
                    <span class="text-gray-500">...</span>
                    <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
                  {% endif %}
                {% endif %}

                {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">
                  <button type="button" class="py-1.5 px-2 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 dark:border-neutral-700 dark:text-white dark:hover:bg-neutral-800">
                    Next
                    <svg class="flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m9 18 6-6-6-6"/></svg>
                  </button>
                </a>
                {% endif %}
              </div>
            </div>

          </div>
          <!-- End Footer -->
        </div>
      </div>
    </div>
  </div>
  <!-- End Card -->
</div>
<!-- End Table Section -->



{% endblock content %}
