{%load static%}
<div
  class="hs-dropdown-menu transition-[opacity,margin] duration-[0.1ms] md:duration-[150ms] hs-dropdown-open:opacity-100 opacity-0 hidden z-10 top-full start-0 min-w-60 bg-white md:shadow-2xl rounded-lg py-2 md:p-4 before:absolute before:-top-5 before:start-0 before:w-full before:h-5"
>
  <div class="md:grid md:grid-cols-2 gap-4">
    <div class="flex flex-col mx-1 md:mx-0">
      <a
        class="group flex gap-x-5 text-gray-800 hover:bg-gray-100 rounded-lg p-4"
        href="#"
      >
        <img src="{% static 'base/img/jm_logo.png' %}" class="size-9" />
        <div class="grow">
          <p class="font-medium text-gray-800 dark:text-gray-200">작명신청</p>
          <p
            class="text-sm text-gray-500 group-hover:text-gray-800 dark:group-hover:text-gray-200"
          >
            도원만의 정확한 사주분석과 체계적인 작명.
            이름 하나로 인생의 이야기가 달라집니다.
          </p>
        </div>
      </a>

      <a
        class="group flex gap-x-5 text-gray-800 hover:bg-gray-100 rounded-lg p-4 dark:text-gray-200 dark:hover:bg-gray-800 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600"
        href="#"
      >
        <img src="{% static 'base/img/gm_logo.png' %}" class="size-9" />
        <div class="grow">
          <p class="font-medium text-gray-800 dark:text-gray-200">
            Integrations
          </p>
          <p
            class="text-sm text-gray-500 group-hover:text-gray-800 dark:group-hover:text-gray-200"
          >
            Discover the huge range of tools that Preline integrates with.
          </p>
        </div>
      </a>
    </div>

    <div class="flex flex-col mx-1 md:mx-0">
      <a
        class="group flex gap-x-5 text-gray-800 hover:bg-gray-100 rounded-lg p-4 dark:text-gray-200 dark:hover:bg-gray-800 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600"
        href="#"
      >
        <img src="{% static 'base/img/sj_logo.png' %}" class="size-9" />
        <div class="grow">
          <p class="font-medium text-gray-800 dark:text-gray-200">
            Help Center
          </p>
          <p
            class="text-sm text-gray-500 group-hover:text-gray-800 dark:group-hover:text-gray-200"
          >
            Learn how to install, set up, and use Preline.
          </p>
        </div>
      </a>

      <a
        class="group flex gap-x-5 text-gray-800 hover:bg-gray-100 rounded-lg p-4 dark:text-gray-200 dark:hover:bg-gray-800 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600"
        href="#"
      >
        <img src="{% static 'base/img/gh_logo.png' %}" class="size-9" />
        <div class="grow">
          <p class="font-medium text-gray-800 dark:text-gray-200">
            Developer Hub
          </p>
          <p
            class="text-sm text-gray-500 group-hover:text-gray-800 dark:group-hover:text-gray-200"
          >
            Learn how to integrate or build on top of Preline.
          </p>
        </div>
      </a>
    </div>
  </div>
</div>
