{% extends 'main.html' %} {% load static %} {% block content %}

<div>
  <input type="email" class="form-input px-4 py-3 rounded-xl" />

  <select class="form-select px-4 py-3 rounded-xl">
    <!-- ... -->
  </select>

  <input type="checkbox" class="form-checkbox rounded text-pink-500" />
</div>

<article class="prose prose-stone">
    <h2 class="">1. 좋은 이름이란 무엇인가?</h1>
    <p>
      For years parents have espoused the health benefits of eating garlic bread with cheese to their
      children, with the food earning such an iconic status in our culture that kids will often dress
      up as warm, cheesy loaf for Halloween.
    </p>
    <p>
      But a recent study shows that the celebrated appetizer may be linked to a series of rabies cases
      springing up around the country.
    </p>
    <!-- ... -->
  </article>

  <div class="aspect-w-16 aspect-h-9">
    <iframe src="https://www.youtube.com/embed/MVHuiGhYkp0?si=A5iHuTziTp5xY656" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>

{% endblock content %}
