{% extends 'main.html' %}
{% load static %}
{% block content %}

<div class="wrap">
    {% include 'header.html' %}

    <div class="container">
        <div>
            <form method="POST" autocomplete="off" enctype="multipart/form-data">
                {% csrf_token %}
                    <div class="requester-form-wrap">
                        <div class="title">
                            <h3>상담인 정보<span> 생년월일시를 정확히 입력해주시기 바랍니다.</span></h3>
                        </div>
                        <div class='form-content'>
                            {{ form.as_p }}
                        </div>
                    </div>                        
                    
                    <div class="personal-info">                            
                        <div>
                            개인정보제공에 동의합니다.
                        </div>                  
                        <input type="checkbox" name="agreechk" value="1" required>
                    </div>

                    <div class="submit-button-wrap">
                        <button type="submit">신청하기</button>
                    </div>
            </form>
        </div>
        
        {% include 'footer.html' %}

    </div>
</div>

<script>

const selectElement = document.getElementById("id_sl");
const selectTarget = document.getElementById("id_yd");

selectElement.addEventListener("input", (event) => {
  if (event.target.value == "1") {
      selectTarget.value = "평달";
      selectTarget.options[1].setAttribute('class','hidden')      
  } else {
      selectTarget.options[1].setAttribute('class',"")
  }
});  
    

</script>

{% endblock content %}