{% load custom_tags %}
{% load static %}
<div class="text-black">
  <div class="print:hidden flex rounded-md items-center justify-center h-28 bg-no-repeat bg-center bg-[url('{% static '/submit/img/etc_title_bg.jpg' %}')]">
    <div class="text-white rounded-lg px-4 py-2 text-base sm:text-xl bg-slate-500 bg-opacity-50">기타상담신청</div>
  </div>
  <div class="print:hidden w-full py-16 px-5 text-sm lg:text-base flex justify-center">
    <div>
      <span class="text-base lg:text-xl font-semibold text-amber-900">"{{submit.name}}"</span>님의 상담신청이 
      {% if submit.process == "1"%}<span class="text-base lg:text-xl font-semibold text-amber-900">"입금대기중"</span> 입니다. 입금이 확인되는대로 상담을 진행하도록 하겠습니다.
      <div class="mt-8 lg:mt-10 flex justify-center">
        <div
        class="py-1 lg:py-2 cursor-pointer px-3 lg:px-4 inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none"
      >
        결제하기
        </div>
      </div>
      {% elif submit.process == "2" %}입금확인후 <span class="text-base lg:text-xl font-semibold text-amber-900">"작명진행중"</span>입니다. 기타 추가 요청사항이 있을경우 유선(063-285-7255)으로 전화주시기 바랍니다.
      {% else %}<span class="text-base lg:text-xl font-semibold text-amber-900">"완료"</span>되었습니다. 이용해주셔서 감사합니다.{% endif %}
    </div>
  </div>  
  <div class="flex items-center mt-8 text-base lg:text-xl font-semibold">
    <div class="mt-[2px] mr-3 h-4 border-l-4 border-amber-900/70"></div>
    <div>작명절차안내</div>
  </div>
  <!-- 절차안내섹션 start -->
  <div class="flex flex-col sm:flex-row flex-wrap mt-4 lg:mt-8">
    <div class="flex items-center w-full mb-4 px-2 border border-gray-300 border-t-0 border-l-0 rounded-br-xl">
      <div class="flex-none py-5 lg:px-5"><img class="w-28 rounded-lg" src="{% static "/submit/img/jminfo1.jpg" %}" /></div>
      <div class="h-full py-4 px-6 ">
          <h3 class="font-bold mb-2 border-b-2 border-amber-950/50">1.신청서 작성</h3>
          <p class="text-gray-800">생년.월.일.시.음력&양력구분 등 필수 기입 내용을 정확히 기재 해주세요. 희망한자,선호하는 이름유형, 돌림자 등 작명에 필요한 추가 정보가있으면 같이 기재 바랍니다.</p>
      </div>
    </div>
    <div class="flex items-center w-full mb-4 px-2 border border-gray-300 border-t-0 border-l-0 rounded-br-xl">
      <div class="flex-none py-5 lg:px-5"><img class="w-28 rounded-lg" src="{% static "/submit/img/jminfo2.jpg" %}" /></div>
      <div class="h-full py-4 px-6 ">
          <h3 class="font-bold mb-2 border-b-2 border-amber-950/50">2.작명료결제(15만원)</h3>
          <p class="text-gray-800">신청서 및 입금확인 후 작업시작 전 연락드립니다. 신청서에 불분명한 내용이있는 경우 또는 연락이 되지 않을 경우 작업은 보류됩니다.</p>
      </div>
    </div>
    <div class="flex items-center w-full mb-4 px-2 border border-gray-300 border-t-0 border-l-0 rounded-br-xl">
      <div class="flex-none py-5 lg:px-5"><img class="w-28 rounded-lg" src="{% static "/submit/img/jminfo3.jpg" %}" /></div>
      <div class="h-full py-4 px-6 ">
          <h3 class="font-bold mb-2 border-b-2 border-amber-950/50">3.작명진행</h3>
          <p class="text-gray-800">신생아의 사주를 분석하여 최적의 이름을 뽑아 신청서에 기재된 이메일로 작명추천서(이름4개)를 보내드립니다.</p>
      </div>
    </div>
    <div class="flex items-center w-full mb-4 px-2 border border-gray-300 border-t-0 border-l-0 rounded-br-xl">
      <div class="flex-none py-5 lg:px-5"><img class="w-28 rounded-lg" src="{% static "/submit/img/jminfo4.jpg" %}" /></div>
      <div class="h-full py-4 px-6 ">
          <h3 class="font-bold mb-2 border-b-2 border-amber-950/50">4.작명완료</h3>
          <p class="text-gray-800">작명추천서의 이름중 하나를 선택하시면 작명신청은 완료 됩니다. 추가 이름추천(1회무료) 및 인증서(3만원)를 원하시는 경우 유선으로 문의 바랍니다.</p>
      </div>
    </div>
  </div>
  <!-- 절차안내섹션 end -->  
  <div class="hidden md:block">
    {% include "section/reserve.html" %}
    {% include "section/account_info.html" %}
  </div>
</div>

