{% load static %}
<div>
  <!-- 서브페이지 title start -->
  <div class="flex rounded-md items-center justify-center h-28 bg-no-repeat bg-center bg-[url('{% static '/submit/img/sj_title_bg.jpg' %}')]">
    <div class="text-white rounded-lg px-4 py-2 text-base sm:text-xl bg-slate-500 bg-opacity-50">사주상담신청</div>
  </div>
  <div class="flex items-center mt-2 text-sm lg:text-base font-semibold border-b border-gray-200 pb-1">
    <div class="mt-[2px] mr-3 h-4 border-l-4 border-amber-900/70"></div>
    <div>상담신청 > 사주상담신청</div>
  </div>
  <p class="mt-1 text-gray-700 text-sm lg:text-base font-normal">
    도원사주작명원에서는 오랜 경험을 바탕으로 전통적인 작명법을 준수하면서 현대적 감각으로 세련되고 부르기쉬운 이름으로 김종찬 원장님이 직접 작명하십니다.
  </p>
  <!-- 서브페이지 title end -->

  <!-- 명품작명이란? start -->

  <div class="mt-8 lg:mt-11">
    <div class="flex justify-center">
      <img class="w-44 md:w-52" src="{% static "/submit/img/mini_logo2.png" %}" />
    </div>
    <h2 class="mt-8 lg:mt-11 text-lg font-semibold text-gray-800">
      김종찬 원장의 명품작명이란?
    </h2>

    <ul class="mt-2 space-y-2 text-sm md:text-base">
      <li class="flex space-x-3">
        <svg
          class="flex-shrink-0 mt-1 size-5 text-blue-700"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <polyline points="20 6 9 17 4 12" />
        </svg>
        <span class="text-gray-800">
          오랜경험을 토대로 사주의 병(病)과 약(藥)을 정확히 분석합니다.
        </span>
      </li>

      <li class="flex space-x-3">
        <svg
          class="flex-shrink-0 mt-1 size-5 text-blue-700"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <polyline points="20 6 9 17 4 12" />
        </svg>
        <span class="text-gray-800">
          현대적 감각의 부르기 좋은 이름을 정성을 다해 지어드립니다.
        </span>
      </li>

      <li class="flex space-x-3">
        <svg
          class="flex-shrink-0 mt-1 size-5 text-blue-700"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <polyline points="20 6 9 17 4 12" />
        </svg>
        <span class="text-gray-800">
          사주의 부족한 부분을 보완할 수 있는 좋은 이름만을 선명해 드립니다.
        </span>
      </li>
    </ul>
  </div>
  <!-- 명품작명이란? end -->

  <!-- 절차안내섹션 start -->
  <div class="flex flex-col sm:flex-row flex-wrap mt-4 lg:mt-8">
    <div class="flex items-center w-full mb-4 px-2 border border-gray-300 border-t-0 border-l-0 rounded-br-xl">
      <div class="flex-none py-5 lg:px-5"><img class="w-28 rounded-lg" src="{% static "/submit/img/jminfo1.jpg" %}" /></div>
      <div class="h-full py-4 px-6 ">
          <h3 class="text-base font-bold mb-2 border-b-2 border-amber-950/50">1.신청서 작성</h3>
          <p class="text-sm text-gray-700 font-normal">생년.월.일.시.음력&양력구분 등 필수 기입 내용을 정확히 기재 해주세요. 현재 상황이나 상담목적을 자세히 기재해주시면 더 만족스런 상담에 도움이 됩니다.</p>
      </div>
    </div>
    <div class="flex items-center w-full mb-4 px-2 border border-gray-300 border-t-0 border-l-0 rounded-br-xl">
      <div class="flex-none py-5 lg:px-5"><img class="w-28 rounded-lg" src="{% static "/submit/img/jminfo2.jpg" %}" /></div>
      <div class="h-full py-4 px-6 ">
          <h3 class="text-base font-bold mb-2 border-b-2 border-amber-950/50">2.상담료결제(5만원)</h3>
          <p class="text-sm text-gray-700 font-normal">신청서 및 결제확인 후 상담시작 전 연락드립니다. 신청서에 불분명한 내용이있는 경우 또는 연락이 되지 않을 경우 상담은 보류됩니다.</p>
      </div>
    </div>
    <div class="flex items-center w-full mb-4 px-2 border border-gray-300 border-t-0 border-l-0 rounded-br-xl">
      <div class="flex-none py-5 lg:px-5"><img class="w-28 rounded-lg" src="{% static "/submit/img/jminfo3.jpg" %}" /></div>
      <div class="h-full py-4 px-6 ">
          <h3 class="text-base font-bold mb-2 border-b-2 border-amber-950/50">3.상담진행</h3>
          <p class="text-sm text-gray-700 font-normal">상담은 방문을 통한 대면상담 또는 전화상담으로 진행됩니다. 진로, 적성, 연애, 결혼, 건강 등 자세히 알고 싶은 부분이 있으시면 뭐든지 물어보세요. 성심성의껏 답변 해드리겠습니다.</p>
      </div>
    </div>
  </div>
  <!-- 절차안내섹션 end -->  
  <div class="hidden md:block">
    {% include "section/reserve.html" %}
    {% include "section/account_info.html" %}
  </div>
</div>
