{% load static %}
<div class="text-black">
  <!-- 서브페이지 title start -->
  <div class="flex rounded-md items-center justify-center h-28 bg-no-repeat bg-center bg-[url('{% static '/submit/img/sj_title_bg.jpg' %}')]">
    <div class="text-white rounded-lg px-4 py-2 text-base sm:text-xl bg-slate-500 bg-opacity-50">사주상담신청</div>
  </div>
  <div class="flex items-center mt-2 font-semibold border-b border-gray-200 pb-1">
    <div class="mt-[2px] mr-3 h-4 border-l-4 border-amber-900/70"></div>
    <div>상담신청 > 사주상담신청</div>
  </div>
  <p class="mt-1 text-gray-800">
    도원사주작명원의 김종찬 원장은 수십 년간 수많은 사람들의 인생을 깊이 들여다보고, 그 속에 숨겨진 운명의 비밀을 명확히 밝혀내는 사주분석의 대가입니다. 단순한 운세풀이를 넘어, 한 사람 한 사람의 삶의 방향성과 잠재력을 꿰뚫어 보는 탁월한 통찰력으로 인생의 전환점마다 맞춤형 해법을 제시합니다.
  </p>
  <!-- 서브페이지 title end -->

  <!-- 명품작명이란? start -->

  <div class="mt-8 lg:mt-11">
    <div class="flex justify-center">
      <img class="w-44 md:w-52" src="{% static "/submit/img/mini_logo2.png" %}" />
    </div>
    <h2 class="mt-8 lg:mt-11 text-lg font-semibold text-gray-800">
      김종찬 원장의 사주 상담이 특별한 이유
    </h2>

    <ul class="mt-2 space-y-2">
      <li class="flex space-x-3">
        <svg
          class="flex-shrink-0 mt-1 size-5 text-blue-700"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <polyline points="20 6 9 17 4 12" />
        </svg>
        <span class="text-gray-800">
          단편적인 사주풀이에 그치지 않고, 생년월일시와 오행의 균형을 심층적으로 진단하여 사주 속 ‘병(病)’과 ‘약(藥)’을 과학적으로 분석합니다. 이를 통해 삶의 장애요소는 줄이고, 숨겨진 강점과 기운을 극대화하는 해법을 찾아냅니다.
        </span>
      </li>

      <li class="flex space-x-3">
        <svg
          class="flex-shrink-0 mt-1 size-5 text-blue-700"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <polyline points="20 6 9 17 4 12" />
        </svg>
        <span class="text-gray-800">
          건강, 직업, 재물, 인간관계, 배우자 운 등 삶의 모든 분야에 걸친 세밀한 맞춤 상담을 통해 불확실한 미래를 명확히 하고, 위기 상황에서는 슬기로운 대처법을, 기회의 시기에는 최적의 선택을 안내합니다.
        </span>
      </li>

      <li class="flex space-x-3">
        <svg
          class="flex-shrink-0 mt-1 size-5 text-blue-700"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <polyline points="20 6 9 17 4 12" />
        </svg>
        <span class="text-gray-800">
          사주에 내재된 부족한 기운을 보완하고 조화시키는 맞춤형 조언을 드려, 운명의 흐름을 주도적으로 바꾸고, 자신감과 희망을 갖고 앞으로 나아갈 수 있도록 돕습니다.
        </span>
      </li>
    </ul>
  </div>
  <!-- 명품작명이란? end -->

  <!-- 절차안내섹션 start -->
  <div class="flex flex-col sm:flex-row flex-wrap mt-4 lg:mt-8">
    <div class="flex items-center w-full mb-4 px-2 border border-gray-300 border-t-0 border-l-0 rounded-br-xl">
      <div class="flex-none py-5 lg:px-5"><img class="w-28 rounded-lg" src="{% static "/submit/img/jminfo1.jpg" %}" /></div>
      <div class="h-full py-4 px-6 ">
          <h3 class="font-bold mb-2 border-b-2 border-amber-950/50">1.신청서 작성</h3>
          <p class="text-gray-800">생년.월.일.시.음력&양력구분 등 필수 기입 내용을 정확히 기재 해주세요. 현재 상황이나 상담목적을 자세히 기재해주시면 더 만족스런 상담에 도움이 됩니다.</p>
      </div>
    </div>
    <div class="flex items-center w-full mb-4 px-2 border border-gray-300 border-t-0 border-l-0 rounded-br-xl">
      <div class="flex-none py-5 lg:px-5"><img class="w-28 rounded-lg" src="{% static "/submit/img/jminfo2.jpg" %}" /></div>
      <div class="h-full py-4 px-6 ">
          <h3 class="font-bold mb-2 border-b-2 border-amber-950/50">2.상담료결제(5만원)</h3>
          <p class="text-gray-800">신청서 및 결제확인 후 상담시작 전 연락드립니다. 신청서에 불분명한 내용이있는 경우 또는 연락이 되지 않을 경우 상담은 보류됩니다.</p>
      </div>
    </div>
    <div class="flex items-center w-full mb-4 px-2 border border-gray-300 border-t-0 border-l-0 rounded-br-xl">
      <div class="flex-none py-5 lg:px-5"><img class="w-28 rounded-lg" src="{% static "/submit/img/jminfo3.jpg" %}" /></div>
      <div class="h-full py-4 px-6 ">
          <h3 class="font-bold mb-2 border-b-2 border-amber-950/50">3.상담진행</h3>
          <p class="text-gray-800">상담은 방문을 통한 대면상담 또는 전화상담으로 진행됩니다. 진로, 적성, 연애, 결혼, 건강 등 자세히 알고 싶은 부분이 있으시면 뭐든지 물어보세요. 성심성의껏 답변 해드리겠습니다.</p>
      </div>
    </div>
  </div>
  <!-- 절차안내섹션 end -->  
  <div class="hidden mdplus-in">
    {% include "section/reserve.html" %}
    {% include "section/account_info.html" %}
  </div>
</div>

<style>
  @media (min-width: 880px) {
    .mdplus-in {
      display: block;
    }
  }
</style>
