{% load static %}
{% load widget_tweaks %} 

<div class="mt-6 grid gap-4 lg:gap-6">
    <div class="flex justify-between">
      <h2 class="mb-4 text-sm sm:text-base md:text-xl font-semibold text-gray-800">감명요청사항</h2>
      <div class="flex flex-row gap-3 mr-3">
        {% if not submit.process == "2" %}
        <a href="{% url 'verify-edit' submit.id %}"><img class="h-4 sm:h-5" src="{% static '/estimate/img/edit.png' %}"></a>
        <a href="{% url 'verify-delete' submit.id %}"><img class="h-4 sm:h-5" src="{% static '/estimate/img/delete.png' %}"></a>
        {% endif %}
        <a href="{% url 'estimate-list' %}"><img class="h-4 sm:h-5" src="{% static '/estimate/img/listing.png' %}"></a>
      </div>
    </div>
    <div>
      <div
        id="description"
        rows="6"
        class="py-3 px-4 border min-h-52 w-full bg-white shadow-md rounded-md text-sm"
      >
        {{submit.description|linebreaks}}
      </div>
    </div>

    <div class="flex justify-center items-center mt-5 mb-5">
      <div class="py-6 px-4 md:px-8 w-full rounded-[12px] bg-white shadow-md border">
        <p class="text-sm sm:text-base font-semibold">
            원장님 답변
        </p> 
          {% if comments %}
          {% for comment in comments %}
            {% if user.is_staff %}<div class="flex justify-end mt-3 mr-3"><a href="{% url 'delete-comment' submit.id comment.id %}"><img class="h-4" src="{% static '/estimate/img/remove.png' %}"></a></div>{%endif%}
            <div class="h-40 px-3 text-sm py-1 mt-5 outline-none border-gray-300 w-full resize-none border rounded-lg">{{comment.content}}</div>
          {% endfor %}
          {% else %}
          {% if not user.is_staff %}
          <textarea disabled class="h-40 px-3 text-sm py-1 mt-5 outline-none border-gray-300 w-full resize-none border rounded-lg placeholder:text-sm" placeholder="답변 대기중입니다."></textarea>  
          <div class="flex justify-end mt-2 md:mt-4"> 
            <button disabled class="p-2 md:p-3 bg-gray-300 text-xs md:text-sm text-gray-500 rounded-lg">
                작성완료
            </button>
          </div>   
          {% endif %}
          {% endif %}
          {% if user.is_staff %}
            <form method="post" action="{% url 'add-comment' submit.id %}">
            {% csrf_token %}
              {% render_field comment_form.content class="h-40 px-3 text-sm py-1 mt-5 outline-none border-gray-300 w-full resize-none border rounded-lg" %}
              <div class="flex justify-end mt-2 md:mt-4"> 
                <button type="submit" class="p-2 md:p-3 bg-blue-600 text-white hover:bg-blue-700 text-xs md:text-sm rounded-lg">
                    작성완료
                </button>
              </div>   
            </form>
          {% endif %}
      </div>   
    </div>
  </div>
  