<div class="mt-6 grid gap-4 lg:gap-6">
    <h2 class="mb-4 text-sm sm:text-base md:text-xl font-semibold text-gray-800">감명요청사항</h2>
    <div>
      <div
        id="description"
        rows="6"
        class="py-3 px-4 block min-h-52 w-full bg-white shadow-md rounded-md text-sm"
      >
        {{submit.description|linebreaks}}
      </div>
    </div>

    <div class="flex justify-center items-center mt-5 mb-5">
      <div class="py-6 px-4 md:px-8 w-full rounded-[12px] bg-white shadow-md border">
          <p class="text-sm sm:text-base font-semibold">
              원장님 답변
          </p> 
          <textarea disabled class="h-40 px-3 text-sm py-1 mt-5 outline-none border-gray-300 w-full resize-none border rounded-lg placeholder:text-sm" placeholder="답변 대기중입니다."></textarea>  
          
          <div class="flex justify-end mt-2 md:mt-4"> 
            <button disabled class="p-2 md:p-3 bg-gray-300 text-xs md:text-sm text-gray-500 rounded-lg">
                작성완료
            </button>
          </div>   
      </div>   
    </div>
  </div>
  