{% extends 'main.html' %} 
{% block content %}
{%load static%}

<div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
  <!-- Grid -->
  <div class="grid md:grid-cols-2 items-start gap-12">

    {%include "./about.html"%}

    <div class="relative">
      <!-- Form -->
      <div
        class="flex flex-col border rounded-xl p-4 sm:p-6 lg:p-10"
      >

        {%include "./form.html"%}

        <div class="mt-3 text-center">
          <p class="text-sm text-gray-500">
            원장님 업무가 많을 경우 무료감명 답변이 늦어질수 있습니다. 신속한 상담을 원하실경우 유료상담을 이용해주시기 바랍니다.
          </p>
        </div>
      </div>
      <!-- End Form -->
    </div>
  </div>
  <!-- End Grid -->
</div>


<div class="md:hidden">
  {% include "section/reserve.html" %}
  {% include "section/account_info.html" %}
</div>

{% endblock content %}
