{% extends 'main.html' %} 
{% block content %}
{%load static%}

<div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
  <!-- Grid -->
  <div class="grid md:grid-cols-2 items-start gap-12">
    
    {%include "./saju_view.html"%}

    <div class="relative">
      <!-- Form -->
      <div
        class="flex flex-col border rounded-xl p-4 sm:p-6 lg:p-10"
      >
        {% include "./detail.html"%}
      </div>
      <!-- End Form -->
    </div>
  </div>
  <!-- End Grid -->
</div>



{% endblock content %}
