{% load custom_tags %}
{% load static %}
<div class="text-black">
  <div class="print:hidden flex rounded-md items-center justify-center h-28 bg-no-repeat bg-center bg-[url('{% static '/estimate/img/gammyung_title_bg.jpg' %}')]">
    <div class="text-white rounded-lg px-4 py-2 text-base sm:text-xl bg-slate-500 bg-opacity-50">도원만세력</div>
  </div>
  <div class="mt-6 text-right text-xs text-gray-800">
    {{submit.created}}
  </div>
  <div class="text-sm sm:text-md md:text-base mt-2 border border-gray-500 divide-y divide-stone-400"> 
    <div class="grid grid-cols-4 divide-x divide-stone-400">
      <div class="py-0 sm:py-1 text-center">신청인</div>
      <div class="py-0 sm:py-1 text-center">{{submit.name}}</div>
      <div class="py-0 sm:py-1 text-center">성별</div>
      <div class="py-0 sm:py-1 text-center">{{submit.gen}}</div>
    </div>
    <div class="grid grid-cols-2 divide-x divide-stone-400">
      <div class="py-0 sm:py-1 text-center">양력</div>
      <div class="py-0 sm:py-1 text-center">{{submit.data.datas.s_year}}년 {{submit.data.datas.s_month}}월 {{submit.data.datas.s_day}}일</div>
    </div>
    <div class="grid grid-cols-2 divide-x divide-stone-400">
      <div class="py-0 sm:py-1 text-center">음력</div>
      <div class="py-0 sm:py-1 text-center">{{submit.data.datas.l_year}}년 {{submit.data.datas.l_month}}월 {{submit.data.datas.l_day}}일 </div>
    </div>
    <div class="grid grid-cols-2 divide-x divide-stone-400">
      <div class="py-0 sm:py-1 text-center">시간</div>
      <div class="py-0 sm:py-1 text-center">{{submit.data.datas.time_ji_ch}}시 [ {{submit.hour}}시 {{submit.min}}분 ] </div>
    </div>
  </div>



  <div class="mt-6 bg-gray-100 border border-gray-500 divide-y divide-stone-400"> 
    <div class="text-sm sm:text-md md:text-base grid grid-cols-4 divide-x divide-stone-400">
      <div class="py-0 sm:py-1 text-center">{{submit.data.datas.time_gan10}}</div>
      <div class="py-0 sm:py-1 text-center">일간</div>
      <div class="py-0 sm:py-1 text-center">{{submit.data.datas.month_gan10}}</div>
      <div class="py-0 sm:py-1 text-center">{{submit.data.datas.year_gan10}}</div>
    </div>

    <div class="grid grid-cols-4 divide-x divide-stone-400">
      <div class="py-2 text-3xl font-semibold text-center {{submit.data.datas.time_gan_ch|hanja_color }}">{{submit.data.datas.time_gan_ch}}</div>
      <div class="py-2 text-3xl font-semibold text-center {{submit.data.datas.day_gan_ch|hanja_color }}">{{submit.data.datas.day_gan_ch}}</div>
      <div class="py-2 text-3xl font-semibold text-center {{submit.data.datas.month_gan_ch|hanja_color }}">{{submit.data.datas.month_gan_ch}}</div>
      <div class="py-2 text-3xl font-semibold text-center {{submit.data.datas.year_gan_ch|hanja_color }}">{{submit.data.datas.year_gan_ch}}</div>
    </div>

    <div class="grid grid-cols-4 divide-x divide-stone-400">
      <div class="py-2 text-3xl font-semibold text-center {{submit.data.datas.time_ji_ch|hanja_color }}">{{submit.data.datas.time_ji_ch}}</div>
      <div class="py-2 text-3xl font-semibold text-center {{submit.data.datas.day_ji_ch|hanja_color }}">{{submit.data.datas.day_ji_ch}}</div>
      <div class="py-2 text-3xl font-semibold text-center {{submit.data.datas.month_ji_ch|hanja_color }}">{{submit.data.datas.month_ji_ch}}</div>
      <div class="py-2 text-3xl font-semibold text-center {{submit.data.datas.year_ji_ch|hanja_color }}">{{submit.data.datas.year_ji_ch}}</div>
    </div>

    <div class="text-sm sm:text-md md:text-base grid grid-cols-4 divide-x divide-stone-400">
      <div class="py-0 sm:py-1 text-center">{{submit.data.datas.time_ji10}}</div>
      <div class="py-0 sm:py-1 text-center">{{submit.data.datas.day_ji10}}</div>
      <div class="py-0 sm:py-1 text-center">{{submit.data.datas.month_ji10}}</div>
      <div class="py-0 sm:py-1 text-center">{{submit.data.datas.year_ji10}}</div>
    </div>
  </div>

  <div class="mt-4">
    <div class='text-sm sm:text-md md:text-base pl-3 pb-2'>대운(大運)</div> 
    <div class="flex">
      {% for num, data1, data2, visible in grouped_data %}
      <div class="clickable table border cursor-pointer flex-1 {% if visible %}border-red-600{% endif %}" data-target="group-{{ forloop.counter0 }}">
        <div class="py-0 text-center bg-gray-200">{{ num }}</div>
        <div class="py-1 text-center {{ data1|hanja_color }}">{{ data1 }}</div>
        <div class="py-1 text-center {{ data2|hanja_color }}">{{ data2 }}</div>
      </div>
      {% endfor %}
    </div>
    <div class='text-sm sm:text-md md:text-base mt-3 pl-3 pb-2'>세운(世運)</div> 
      <div class="md:mb-10" id="data-groups">
        {% for group, visible in groups_with_visibility %}
          <div class="data-group {% if not visible %}hidden{% endif %}" id="group-{{ forloop.counter0 }}">
            <div class="grid grid-cols-10">
              {% for data in group %}
                <div class="table border flex-1">
                  <div class="py-0 text-[10px] sm:text-sm text-center bg-gray-200">{{ data.0 }}</div>
                  <div class="py-1 text-center {{ data.1|hanja_color }}">{{ data.1 }}</div>
                  <div class="py-1 text-center {{ data.2|hanja_color }}">{{ data.2 }}</div>
                </div>
              {% endfor %}
            </div>
          </div>
        {% endfor %}
          
        {% if all_false %}
          <div class="data-group" id="group-11">
            <div class="grid grid-cols-10">
              {% for data in submit.data.datas.baby_10 %}
                <div class="table border flex-1">
                  <div class="py-0 text-[10px] sm:text-sm text-center bg-gray-200">{{ data.0 }}</div>
                  <div class="py-1 text-center {{ data.1|hanja_color }}">{{ data.1 }}</div>
                  <div class="py-1 text-center {{ data.2|hanja_color }}">{{ data.2 }}</div>
                </div>
              {% endfor %}
            </div>
          </div>
        {% endif %}
      </div>
  </div>
  <div class="hidden md:block">
    {% include "section/reserve.html" %}
    {% include "section/account_info.html" %}
  </div>
</div>



<script>
  // 클릭 이벤트 리스너를 각각의 'clickable' 클래스가 있는 요소에 추가
  document.querySelectorAll('.clickable').forEach(function(element) {
    element.addEventListener('click', function() {
      // 모든 요소의 빨간 테두리 제거
      document.querySelectorAll('.clickable').forEach(function(el) {
        el.classList.remove('border-red-600');
      });
      // 클릭된 요소에 빨간 테두리 추가
      this.classList.add('border-red-600');

      const targetId = element.getAttribute('data-target');
      const groups = document.querySelectorAll('.data-group');
      groups.forEach(group => {
        if(group.id === targetId) {
          group.classList.remove('hidden');
        } else {
          group.classList.add('hidden');
        }
      });
    });
  });
</script>