{% load custom_tags %}
<div>
  <h1
    class="text-3xl font-bold text-gray-800 sm:text-4xl lg:text-5xl lg:leading-tight dark:text-white"
  >
    진행중
  </h1>
  <p class="mt-1 md:text-lg text-gray-800 dark:text-gray-200">
    We help brands and platforms turn big ideas into beautiful digital products
    and experiences.
  </p>

  <div class="mt-4 bg-gray-100 border border-gray-500 divide-y divide-stone-400"> 
    <div class="grid grid-cols-4 divide-x divide-stone-400">
      <div class="py-0 sm:py-1 text-center">{{datas.time_gan10}}</div>
      <div class="py-0 sm:py-1 text-center">일간</div>
      <div class="py-0 sm:py-1 text-center">{{datas.month_gan10}}</div>
      <div class="py-0 sm:py-1 text-center">{{datas.year_gan10}}</div>
    </div>

    <div class="grid grid-cols-4 divide-x divide-stone-400">
      <div class="py-2 text-3xl font-semibold text-center {{datas.time_gan_ch|hanja_color }}">{{datas.time_gan_ch}}</div>
      <div class="py-2 text-3xl font-semibold text-center {{datas.day_gan_ch|hanja_color }}">{{datas.day_gan_ch}}</div>
      <div class="py-2 text-3xl font-semibold text-center {{datas.month_gan_ch|hanja_color }}">{{datas.month_gan_ch}}</div>
      <div class="py-2 text-3xl font-semibold text-center {{datas.year_gan_ch|hanja_color }}">{{datas.year_gan_ch}}</div>
    </div>

    <div class="grid grid-cols-4 divide-x divide-stone-400">
      <div class="py-2 text-3xl text-semibold text-center {{datas.time_ji_ch|hanja_color }}">{{datas.time_ji_ch}}</div>
      <div class="py-2 text-3xl text-semibold text-center {{datas.day_ji_ch|hanja_color }}">{{datas.day_ji_ch}}</div>
      <div class="py-2 text-3xl text-semibold text-center {{datas.month_ji_ch|hanja_color }}">{{datas.month_ji_ch}}</div>
      <div class="py-2 text-3xl text-semibold text-center {{datas.year_ji_ch|hanja_color }}">{{datas.year_ji_ch}}</div>
    </div>

    <div class="grid grid-cols-4 divide-x divide-stone-400">
      <div class="py-0 sm:py-1 text-center">{{datas.time_ji10}}</div>
      <div class="py-0 sm:py-1 text-center">{{datas.day_ji10}}</div>
      <div class="py-0 sm:py-1 text-center">{{datas.month_ji10}}</div>
      <div class="py-0 sm:py-1 text-center">{{datas.year_ji10}}</div>
    </div>
  </div>

  <div class="mt-4 border border-gray-500 divide-y divide-stone-400"> 
    <div class="grid grid-cols-10 divide-x divide-stone-400">
      {% for data in datas.daewoon_num_list %}
      <div class="py-0 text-center">{{data}}</div>
      {% endfor %}
    </div>
    <div class="grid grid-cols-10 divide-x divide-stone-400">
      {% for data in datas.daewoon.1 %}
      <div class="py-1 text-center {{data|hanja_color}}">{{ data }}</div>
      {% endfor %}
    </div>
    <div class="grid grid-cols-10 divide-x divide-stone-400">
      {% for data in datas.daewoon.2 %}
      <div class="py-1 text-center {{data|hanja_color}}">{{ data }}</div>
      {% endfor %}
    </div>
  </div>


</div>
