<div class="bg-slate-200">
  <h1
    class="text-3xl font-bold text-gray-800 sm:text-4xl lg:text-5xl lg:leading-tight dark:text-white"
  >
    진행중
  </h1>
  <p class="mt-1 md:text-lg text-gray-800 dark:text-gray-200">
    We help brands and platforms turn big ideas into beautiful digital products
    and experiences.
  </p>

  <div class="mt-4 border border-gray-500 divide-y divide-stone-400"> 
    <div class="grid grid-cols-4 divide-x divide-stone-400">
      <div class="py-1 text-center">정재</div>
      <div class="py-1 text-center">편재</div>
      <div class="py-1 text-center">비견</div>
      <div class="py-1 text-center">겁재</div>
    </div>

    <div class="grid grid-cols-4 divide-x divide-stone-400">
      <div class="py-1 text-center">{{datas.time_gan_ch}}</div>
      <div class="py-1 text-center">{{datas.day_gan_ch}}</div>
      <div class="py-1 text-center">{{datas.month_gan_ch}}</div>
      <div class="py-1 text-center">{{datas.year_gan_ch}}</div>
    </div>

    <div class="grid grid-cols-4 divide-x divide-stone-400">
      <div class="py-1 text-center">{{datas.time_ji_ch}}</div>
      <div class="py-1 text-center">{{datas.day_ji_ch}}</div>
      <div class="py-1 text-center">{{datas.month_ji_ch}}</div>
      <div class="py-1 text-center">{{datas.year_ji_ch}}</div>
    </div>

    <div class="grid grid-cols-4 divide-x divide-stone-400">
      <div class="py-1 text-center">정재</div>
      <div class="py-1 text-center">편재</div>
      <div class="py-1 text-center">비견</div>
      <div class="py-1 text-center">겁재</div>
    </div>
  </div>


</div>
